In [43]:
import pandas as pd
df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})
df['locality'] = pd.to_numeric(df['locality'], errors='coerce')
df['postcode'] = pd.to_numeric(df['postcode'], errors='coerce') 
df["locality"].fillna(df["postcode"], inplace=True)
df = df.loc[(pd.isnull(df['postcode'])==False) & (pd.isnull(df['locality'])==False)]
df['property_subtype']=df['property_subtype'].str.upper()
df['property_subtype'] = df['property_subtype'].str.replace('-','_')
df['rooms_number'] = df['rooms_number'].str.replace('None','')
df['rooms_number'] = df['rooms_number'].str.replace('Not specified','')
df['rooms_number'] = df['rooms_number'].str.replace('nan','')
df['rooms_number'] = pd.to_numeric(df['rooms_number'], errors='coerce').astype('Int64')
df.loc[(df['terrace']=='2.0')|(df['terrace']=='3.0')|(df['terrace']=='4.0')]
import numpy as np
def converter(c): 
    if (c['garden']=='True')|(c['garden']=='False'): 
        return c['garden'] 
    elif (pd.isnull(c['garden'])==False): 
        return 'True'
    else: 
        return np.nan

df['hyp_garden'] = df.apply(converter, axis = 1)
def splitter(s): 
    if (s['garden']!='True')&(s['garden']!='False'): 
        return s['garden']
    elif (pd.isnull(s['garden'])==False): 
        return s['garden_area']
    else: 
        return np.nan
    
df['hyp_garden_area'] = df.apply(splitter, axis = 1)
df['hyp_garden_area'] = pd.to_numeric(df['hyp_garden_area'], errors='coerce').astype('Int64')
df.loc[df['facades_number']=='None', 'facades_number'] = np.nan
df['facades_number'] = pd.to_numeric(df['facades_number'], errors='coerce').astype('Int64')
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('TRUE','True')
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('FALSE','False')
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('0','False')
df['building_state'] = df['building_state'].str.replace(' ','_')
df['building_state'] = df['building_state'].str.upper()
df['building_state'] = df['building_state'].str.replace('TO_RESTORE','TO_RENOVATE')
df['building_state'] = df['building_state'].str.replace('TO_BE_DONE_UP','TO_RENOVATE')
df['building_state'] = df['building_state'].str.replace('JUST_RENOVATED','AS_NEW')
df.loc[df['building_state'] == 'NOT_SPECIFIED','building_state'] = np.nan
df.loc[df['building_state'] == '0','building_state'] = np.nan

In [44]:
df.dtypes

source                 int64
hyperlink             object
locality             float64
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number           Int64
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number         Int64
swimming_pool_has     object
building_state        object
hyp_garden            object
hyp_garden_area        Int64
dtype: object

### Remarks & questions

- Pourquoi parfois on applique une formule sur pd et parfois sur df ? 
- Pourquoi la conversion vers boolean ne supporte les nan ? 
- Idée : à partir de maintenant j'aimerais vérifier si mes conversion se passe bien, je vais fonctionner avec colonne intermediaire
- Why does this give a weird result : df['price'].dtypes ? Result is dtype('O')

In [50]:
df['price'] = df['price'].astype(str)

In [ ]:
df['hyp_garden'] = df.apply(converter, axis = 1)
def splitter(s): 
    if (s['garden']!='True')&(s['garden']!='False'): 
        return s['garden']
    elif (pd.isnull(s['garden'])==False): 
        return s['garden_area']
    else: 
        return np.nan
    
df['hyp_garden_area'] = df.apply(splitter, axis = 1)

In [63]:
df[df["my_price"].str.contains('[/€]', regex=True)]

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state, hyp_garden, hyp_garden_area, my_price]
Index: []

[0 rows x 25 columns]

In [ ]:
def integer_conversion(s): 
    if (s["price"].contains('[/€]', regex=True)): 
        return s['price']
    else: 
        return "test"
df['my_price'] = df.apply(integer_conversion, axis = 1)

In [60]:
cols_to_change = ['price']

for col in cols_to_change:
    df['my_price'] = df[col].str.replace('[€,]', '')

In [67]:
cols_to_change = ['price']

def any_curr(s, curr="¥$€£"):
    return any(c in s for c in curr)

for col in cols_to_change:
    if df[col].apply(any_curr):
        "bim"
    else: 
        "test"

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [66]:
cols_to_change = ['price']

for col in cols_to_change:
    if df[col].str.contains('[/€]', regex=True):
        "bim"
    else: 
        "test"

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [65]:
df[col].str.contains('[/€]', regex=True)

0        False
1        False
2        False
3        False
4        False
         ...
93063     True
93064     True
93065     True
93066     True
93067     True
Name: price, Length: 85656, dtype: bool

In [30]:
df['my_price'] = df['price'].astype(str)
#df['price'].astype(str).astype(int) -> gives a bug

In [18]:
df.loc[df['my_price'] == 'False']

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state, hyp_garden, hyp_garden_area, my_price]
Index: []

[0 rows x 25 columns]

In [31]:
df = df.loc[(pd.isnull(df['my_price'])==False)]

In [57]:
new_df = df[~df["my_price"].str.contains('[/€]', regex=True)]
new_df
#all these should be entering in a new int column, for those with the symbol it's more work 
#.str.contains does not work for my function (no attribute 'str' or 'contains')

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,hyp_garden,hyp_garden_area,my_price
0,6,8901695,4180.0,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,True,1000,1403,1403,0,False,GOOD,True,1000,test
1,6,8747010,8730.0,8730.0,True,VILLA,675000,NaN,4,349,...,True,977,1526,1526,0,False,AS_NEW,True,977,675000
2,6,8775843,4020.0,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,0,760,760,0,False,TO_RENOVATE,False,0,test
3,6,8910441,1200.0,1200.0,True,HOUSE,545000,NaN,4,235,...,False,0,63,63,0,False,AS_NEW,False,0,test
4,6,8758672,1190.0,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,True,60,193,193,0,False,AS_NEW,True,60,test
5,6,8940340,4040.0,4040.0,True,HOUSE,189000,NaN,3,200,...,True,40,100,11,0,False,TO_RENOVATE,True,40,test
6,6,8923626,4540.0,4540.0,True,MIXED_USE_BUILDING,465000,NaN,4,400,...,False,0,312,312,0,False,GOOD,False,0,test
7,6,8913667,1150.0,1150.0,True,APARTMENT_BLOCK,650000,NaN,4,200,...,True,150,301,301,0,False,GOOD,True,150,test
8,6,8693767,6870.0,6870.0,True,MIXED_USE_BUILDING,89000,NaN,3,180,...,False,0,96,96,0,False,TO_RENOVATE,False,0,test
9,6,8325945,4030.0,4030.0,True,MIXED_USE_BUILDING,129000,NaN,3,156,...,False,0,71,71,0,False,TO_RENOVATE,False,0,test
10,6,8627972,9600.0,9600.0,True,APARTMENT_BLOCK,389000,NaN,6,255,...,False,0,205,205,0,False,GOOD,False,0,test
11,6,8783402,1030.0,1030.0,True,APARTMENT_BLOCK,399000,NaN,3,137,...,False,0,195,30,0,False,TO_RENOVATE,False,0,test
12,6,8734225,4500.0,4500.0,True,APARTMENT_BLOCK,425000,NaN,5,400,...,True,366,603,114,0,False,AS_NEW,True,366,test
13,6,8730846,4500.0,4500.0,True,EXCEPTIONAL_PROPERTY,425000,NaN,5,400,...,True,366,603,114,0,False,AS_NEW,True,366,test
14,6,8560612,1200.0,1200.0,True,APARTMENT_BLOCK,1750000,NaN,7,550,...,True,60,270,270,0,False,AS_NEW,True,60,test
15,6,8412149,3270.0,3270.0,True,APARTMENT_BLOCK,198000,NaN,3,210,...,False,0,119,119,0,False,TO_RENOVATE,False,0,test
16,6,8894232,6760.0,6760.0,True,APARTMENT_BLOCK,349000,NaN,1,118,...,False,0,63,63,0,False,TO_RENOVATE,False,0,test
17,6,8928748,9290.0,9290.0,True,MIXED_USE_BUILDING,445000,NaN,4,307,...,False,0,200,200,0,False,GOOD,False,0,test
18,6,8860947,8000.0,8000.0,True,MANSION,659000,NaN,3,232,...,False,0,125,125,0,False,AS_NEW,False,0,test
19,6,8941858,1140.0,1140.0,True,APARTMENT_BLOCK,695000,NaN,7,257,...,False,0,350,350,0,False,TO_RENOVATE,False,0,test
20,6,8916756,8000.0,8000.0,True,MANSION,795000,NaN,5,265,...,False,0,110,110,0,False,AS_NEW,False,0,test
21,6,8939722,6940.0,6940.0,True,EXCEPTIONAL_PROPERTY,845000,NaN,7,340,...,True,6500,7000,7000,0,False,GOOD,True,6500,test
22,6,8597517,4671.0,4671.0,True,APARTMENT_BLOCK,225000,NaN,4,270,...,False,0,315,315,0,False,TO_RENOVATE,False,0,test
23,6,8913670,4020.0,4020.0,True,APARTMENT_BLOCK,280000,NaN,8,180,...,True,55,120,49,0,False,TO_RENOVATE,True,55,test
24,6,8309310,1000.0,1000.0,True,MIXED_USE_BUILDING,1395000,NaN,3,568,...,False,0,196,196,0,False,AS_NEW,False,0,test
25,6,8157990,1000.0,1000.0,True,MIXED_USE_BUILDING,2375000,NaN,10,927,...,False,0,183,183,0,False,AS_NEW,False,0,test
26,6,7701433,1000.0,1000.0,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,True,198,1988,1988,0,False,AS_NEW,True,198,test
27,6,7701432,1070.0,1070.0,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,True,198,1988,1988,0,False,AS_NEW,True,198,test
28,6,8866543,6030.0,6030.0,True,APARTMENT_BLOCK,275000,NaN,3,205,...,False,0,167,167,0,False,TO_RENOVATE,False,0,test
29,6,8894789,1030.0,1030.0,True,APARTMENT_BLOCK,520000,NaN,8,360,...,True,65,147,147,0,False,TO_RENOVATE,True,65,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93038,3,NaN,3000.0,3000.0,False,NaN,265000€,NaN,2,94 m²,...,False,NaN,NaN,NaN,4,False,GOOD,False,NaN,test
93039,3,NaN,4000.0,4000.0,False,NaN,320000€,NaN,2,145 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93040,3,NaN,2060.0,2060.0,False,NaN,169900€,NaN,1,64 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93041,3,NaN,2170.0,2170.0,False,NaN,156000€,NaN,2,90 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93042,3,NaN,8480.0,8480.0,False,NaN,169000€,NaN,2,117 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93043,3,NaN,8480.0,8480.0,False,NaN,130000€,NaN,2,117 m²,...,False,NaN,NaN,NaN,2,False,TO_RENOVATE,False,NaN,test
93044,3,NaN,8820.0,8820.0,False,NaN,174000€,NaN,1,72 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93045,3,NaN,3300.0,3300.0,False,NaN,449000€,NaN,2,116 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93046,3,NaN,9080.0,9080.0,False,NaN,399000€,NaN,2,145 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93047,3,NaN,9500.0,9500.0,False,NaN,169000€,NaN,1,80 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93048,3,NaN,8370.0,8370.0,False,NaN,89500€,NaN,2,Not specified,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93049,3,NaN,8400.0,8400.0,False,NaN,219000€,NaN,2,Not specified,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93050,3,NaN,8570.0,8570.0,False,NaN,259500€,NaN,2,100 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93051,3,NaN,1140.0,1140.0,False,NaN,298000€,NaN,2,97 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93052,3,NaN,6790.0,6790.0,False,NaN,210000€,NaN,3,85 m²,...,False,NaN,NaN,NaN,4,False,NaN,False,NaN,test
93053,3,NaN,3700.0,3700.0,False,NaN,125000€,NaN,2,90 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93054,3,NaN,6560.0,6560.0,False,NaN,135000€,NaN,2,190 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93055,3,NaN,2140.0,2140.0,False,NaN,155000€,NaN,1,50 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93056,3,NaN,1050.0,1050.0,False,NaN,575000€,NaN,2,109 m²,...,False,NaN,NaN,NaN,3,False,AS_NEW,False,NaN,test
93057,3,NaN,1050.0,1050.0,False,NaN,449000€,NaN,2,120 m²,...,False,NaN,NaN,NaN,2,False,TO_RENOVATE,False,NaN,test
93058,3,NaN,2018.0,2018.0,False,NaN,420000€,NaN,3,150 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93059,3,NaN,2000.0,2000.0,False,NaN,285000€,NaN,1,80 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93060,3,NaN,3090.0,3090.0,False,NaN,295000€,NaN,1,60 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93061,3,NaN,1160.0,1160.0,False,NaN,380000€,NaN,2,87 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93062,3,NaN,4020.0,4020.0,False,NaN,137000€,NaN,1,60 m²,...,False,NaN,NaN,NaN,2,False,GOOD,False,NaN,test
93063,3,NaN,2650.0,2650.0,False,NaN,210000€,NaN,2,100 m²,...,False,NaN,NaN,NaN,2,False,TO_RENOVATE,False,NaN,test
93064,3,NaN,3700.0,3700.0,False,NaN,239000€,NaN,1,78 m²,...,False,NaN,NaN,NaN,4,False,GOOD,False,NaN,test
93065,3,NaN,3800.0,3800.0,False,NaN,259000€,NaN,2,90 m²,...,False,NaN,NaN,NaN,2,False,AS_NEW,False,NaN,test
93066,3,NaN,2610.0,2610.0,False,NaN,254000€,NaN,2,88 m²,...,False,NaN,NaN,NaN,2,False,NaN,False,NaN,test
93067,3,NaN,9840.0,9840.0,False,NaN,359000€,NaN,2,140 m²,...,False,NaN,NaN,NaN,4,False,NaN,False,NaN,test