# Notes préliminaires
### README
Le fichier commence par la cell d'import des données. 
Une fois la première cellule lancée, il faut lire le fichier de bas en haut. 
Chaque cellule correspond à un "essai". Le but est en général décrit en commentaire.
## Questions
###### Is regex usage a recommanded way to go about data cleaning?

In [85]:
import pandas as pd
df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})

In [87]:
test_df = df 

#https://stackoverflow.com/questions/25292838/applying-regex-to-a-pandas-dataframe  
import re
def split_it(locality):
    return re.findall('(\d\d\d\d)', locality)
test_df['locality'].apply(split_it)

TypeError: expected string or bytes-like object

In [88]:
test_df = df 
for row in df['locality']: 
    print(type(row))
    break;
# I have all string values so WHY IS IT NOT WORKING?

<class 'str'>

In [81]:
test_df = df
for row in df['locality']: 
    if row.str.contains('\d{4}', regex = True, na = False): 
        print(row)
#Pourquoi pour la colonne entière je peux appliquer mon 'str' et pas pour l'item ?

AttributeError: 'str' object has no attribute 'str'

In [80]:
test_df = df 
for row in df['locality']: 
    if row == "1090": 
        print(row)
#ok to loop on all items, now I want to include regex.

1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090
1090

In [77]:
test_df = df
test_df['locality'][2]
#hypothese: il bug car il ne sait pas de quelle row on parle

'4020'

In [74]:
test_df = df
param = True
if param == True: 
    test_df['my_locality'] = test_df['locality']
else: 
    test_df['my_locality'] = np.nan
test_df.head()
#this condition seems to work fine

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,my_col,my_locality
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,36,True,1000,1403,1403,0,False,GOOD,True,4180
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,0,True,977,1526,1526,0,False,AS_NEW,True,8730
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,0,False,0,760,760,0,False,TO_RENOVATE,True,4020
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,0,False,0,63,63,0,False,JUST_RENOVATED,True,1200
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,0,True,60,193,193,0,False,AS_NEW,True,1190

In [72]:
test_df = df
import numpy as np
if np.logical_or(test_df['locality'].str.contains('\d{4}', regex = True, na = False), test_df['locality'].str.contains('\d{4}', regex = True, na = False)): 
    test_df['my_locality'] = test_df['locality']
else: 
    test_df['my_locality'] = np.nan
#using np.logical_or is not helpful

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [70]:
test_df = df
test_df['locality'].str.contains('\d{4}', regex = True, na = False)
#I can conclude that the condition works when it stands alone 
#Why the ambiguity when used in if/else?

0        True
1        True
2        True
3        True
4        True
         ...
93063    True
93064    True
93065    True
93066    True
93067    True
Name: locality, Length: 93068, dtype: bool

In [69]:
#Replacing boolean result by a chain defined by me.
test_df = df
if test_df['locality'].str.contains('\d{4}', regex = True, na = False): 
    test_df['my_col'] = "true condition" 
else: 
    test_df['my_col'] = "false condition"

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [67]:
#works but...
test_df = df
test_df['my_col'] = test_df['locality'].str.contains('\d{4}', regex = True, na = False)
test_df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,my_col
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,True,36,True,1000,1403,1403,0,False,GOOD,True
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,False,0,True,977,1526,1526,0,False,AS_NEW,True
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,0,False,0,760,760,0,False,TO_RENOVATE,True
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,False,0,False,0,63,63,0,False,JUST_RENOVATED,True
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,0,True,60,193,193,0,False,AS_NEW,True

In [65]:
#Still with the intent of generalizing the code, I will retry and also use a param "column_to_change"
test_df = df 
column_to_change = df['locality']
for col in column_to_change:
    test_df['my_col'] = test_df[col].str.contains('\d{4}', regex = True, na = False)
test_df.head()

AttributeError: 'str' object has no attribute 'str'

In [54]:
#Trying a simple case of loop on columns
for locality in df['locality']: 
    if item.str.contains('\d{4}', regex = True, na = False): 
        print("contains 4 digits")

AttributeError: 'str' object has no attribute 'str'

In [50]:
# Trying to work with a column 
test_df = df
my_regex_dict = {'REGEX': '\d{4}', 'REGEX': '^(?!.{51,})(\w+ ?)$'}
import numpy as np
for key in my_regex_dict: 
    my_filter = test_df['locality'].str.contains(my_regex_dict[key], regex = True, na = False)
    if my_filter:
        return test_df['my_locality'] = test_df['locality']
    else: 
        return np.nan   
test_df.head()
#Problem : I gotta loop over the values of the column now

SyntaxError: invalid syntax (<ipython-input-50-3120f25ed497>, line 8)

In [57]:
# First step to refactoring with dictionnary
test_df = df
my_regex_dict = {'REGEX': '\d{4}', 'REGEX': '^(?!.{51,})(\w+ ?)$'}
for key in my_regex_dict: 
    print(key, '->', my_regex_dict[key])
#Printing only the last item
for key in my_regex_dict: 
    my_filter = test_df['locality'].str.contains(my_regex_dict[key], regex = True, na = False)
    test_df = test_df[~my_filter]
test_df.head()
#Currently I am extracting rows
#My actual goal is to clean and push to a clean column e.g. my_locality

REGEX -> ^(?!.{51,})(\w+ ?)$

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18034,2,https://www.realo.be/en/rue-rimiere-105-4120-r...,"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",NaN,True,House,0,NaN,0,0,...,False,False,NaN,False,NaN,NaN,No,NaN,False,NaN
18035,2,https://www.realo.be/en/sint-truidensesteenweg...,"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gus...",NaN,True,House,340000€ 340.000,NaN,3,170m2,...,False,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18036,2,https://www.realo.be/en/augustijnenlaan-77-220...,"Augustijnenlaan 77 201, 2200 Herentals",NaN,False,Flat,259000€ 259.000,NaN,2,88m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18037,2,https://www.realo.be/en/averbodesesteenweg-19-...,"Averbodesesteenweg 19, 2230 Herselt",NaN,True,House,449000€ 449.000,NaN,4,303m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18038,2,https://www.realo.be/en/edward-pynaertkaai-21-...,"Edward pynaertkaai 21, 9050 Ledeberg",NaN,False,Flat,249900€ 249.900,NaN,3,102m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN

In [44]:
#Trying to filter out the clean part, where the postcode's locality is written and not something else
my_filter = df["locality"].str.contains('\d{4}', regex=True, na=False)
to_clean = df[~my_filter]
my_filter_2 = to_clean['locality'].str.contains('^(?!.{51,})(\w+ ?)$', regex=True, na=False)
to_clean = to_clean[my_filter_2]
to_clean.head()
#Mon filtre marche
#Next step working with a 'trash dict'
#contains regex or values that I consider unusable 
#for a regex, I need to set the regex param to True

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18461,2,https://www.realo.be/en/urbanizacion-torremar-...,Belgium,NaN,True,House,0,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18492,2,https://www.realo.be/en/urbanizacion-torremar-...,Belgium,NaN,True,House,0,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18540,2,https://www.realo.be/en/urbanizacion-torremar-...,Belgium,NaN,True,House,0,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18588,2,https://www.realo.be/en/urbanizacion-torremar-...,Belgium,NaN,True,House,0,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18656,2,https://www.realo.be/en/urbanizacion-torremar-...,Belgium,NaN,True,House,0,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN

In [29]:
#Trying to identify weird cases of locality
my_filter = df["locality"].str.contains('\d{4}', regex=True, na=False)
df[~my_filter]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18039,2,https://www.realo.be/en/engelstraat-148-9040-s...,Zéér RUIME Bel-etage woning met ATELIER,NaN,True,House,495000€ 495.000,NaN,3,244m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18084,2,https://www.realo.be/en/pylyserlaan-59-8670-ko...,Charmante vakantiehuis te koop op een rustige ...,NaN,True,House,175000€ 175.000,NaN,2,68m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18092,2,https://www.realo.be/en/hippoliet-van-peenestr...,Rustig gelegen duplex appartement met garage e...,NaN,False,Flat,290000€ 290.000,NaN,3,138m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18097,2,https://www.realo.be/en/kortrijksesteenweg-170...,Polyvalent herenhuis met tuin op TOP-locatie,NaN,True,House,1250000€ 1.250.000,NaN,12,700m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18098,2,https://www.realo.be/en/langemunt-52-9850-neve...,Appartement te Nevele,NaN,False,Flat,228000€ 228.000,NaN,2,73m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18100,2,https://www.realo.be/en/baarledorpstraat-80-90...,Woning te Drongen,NaN,True,House,388000€ 388.000,NaN,3,176m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18106,2,https://www.realo.be/en/slagmanstraat-9-9080-l...,!!!!!! OPENHUISDAG ZAT. 26 SEPTEMBER A.S. VAN ...,NaN,True,House,599000€ 599.000,NaN,4,180m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18107,2,https://www.realo.be/en/frans-de-potterstraat-...,Appartement te Gent,NaN,False,Flat,215000€ 215.000,NaN,1,40m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18108,2,https://www.realo.be/en/rue-creybeck-2-1360-pe...,IMMO VILLAGES,NaN,True,House,165000€ 165.000,NaN,3,40m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18140,2,https://www.realo.be/en/baarledorpstraat-82a-9...,Woning te Drongen,NaN,True,House,417750€ 417.750,NaN,4,205m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18167,2,https://www.realo.be/en/vierschaarlaan-13-9051...,Woning te Sint-Denijs-Westrem,NaN,True,House,495000€ 495.000,NaN,4,207m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18181,2,https://www.realo.be/en/koninklijke-baan-69-86...,Zeer verzorgd en gemeubeld appartement met ope...,NaN,False,Flat,184000€ 184.000,NaN,1,45m2,...,False,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18190,2,https://www.realo.be/en/haeghensgoed-73-9270-l...,Instapklare woning gelegen in een gezellig woo...,NaN,True,House,299000€ 299.000,NaN,3,122m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18222,2,https://www.realo.be/en/welvaartstraat-92-9300...,Happy Single appartement,NaN,False,Flat,110000€ 110.000,NaN,1,103m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18249,2,https://www.realo.be/en/hekstraat-73-9940-ever...,Woning te Evergem,NaN,True,House,175000€ 175.000,NaN,2,87m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18250,2,https://www.realo.be/en/albert-i-laan-114-8670...,Recent 2 slaapkamer villa appartement met zeez...,NaN,False,Flat,229000€ 229.000,NaN,2,54m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18281,2,https://www.realo.be/en/rue-du-warichet-6-1360...,IMMO VILLAGES,NaN,True,House,279000€ 279.000,NaN,4,101m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18285,2,https://www.realo.be/en/torhoutsesteenweg-118-...,OOSTENDE - CENTRAAL GELEGEN nabij Petit Paris,NaN,True,House,295000€ 295.000,NaN,3,244m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18302,2,https://www.realo.be/en/priester-joris-eeckhou...,Woning te Deinze,NaN,True,House,349000€ 349.000,NaN,6,245m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18319,2,https://www.realo.be/en/priesterstraat-31-9050...,Instapklare rijwonig te Gentbrugge,NaN,True,House,312000€ 312.000,NaN,2,114m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18324,2,https://www.realo.be/en/veldbloemlaan-7-9850-l...,Woning te Landegem,NaN,True,House,334000€ 334.000,NaN,3,166m2,...,False,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18336,2,https://www.realo.be/en/zandstraat-35-9810-eke...,Nieuwbouw BEN-woning te Eke.,NaN,True,House,"491602.37€ 491.602,37",NaN,3,175m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18342,2,https://www.realo.be/en/rue-basse-hollande-16-...,Residence for sale in Ittre,NaN,True,House,395000€ 395.000,NaN,4,200m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18343,2,https://www.realo.be/en/kustlaan-198-8300-knok...,Flat - Apartment for sale in Knokke,NaN,False,Flat,950000€ 950.000,NaN,2,87m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18344,2,https://www.realo.be/en/albert-i-promenade-48-...,Flat - Studio for sale in Oostende,NaN,False,Flat,105000€ 105.000,NaN,2,42m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18347,2,https://www.realo.be/en/rue-du-deversoir-2-611...,Residence for sale in Landelies,NaN,True,House,255000€ 255.000,NaN,3,175m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18348,2,https://www.realo.be/en/rue-de-la-madeleine-13...,Flat - Apartment for sale in Brussels,NaN,False,Flat,368000€ 368.000,NaN,2,91m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18349,2,https://www.realo.be/en/kleine-molenweg-3-2940...,Duplex for sale in Stabroek,NaN,False,Flat,499000€ 499.000,NaN,3,220m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18350,2,https://www.realo.be/en/vondelpark-79-3120-tre...,Residence for sale in Tremelo,NaN,True,House,329000€ 329.000,NaN,2,112m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
18351,2,https://www.realo.be/en/rue-du-saule-27-1083-g...,Flat - Apartment for sale in Ganshoren,NaN,False,Flat,289000€ 289.000,NaN,2,115m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75846,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,1070,False,APARTMENT,250000.0,residential_sale,2.0,90.0,...,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
75847,1,https://www.immoweb.be/en/classified/apartment...,Merelbeke,9820,False,APARTMENT,265000.0,residential_sale,2.0,87.0,...,NaN,NaN,TRUE,7.0,NaN,NaN,NaN,NaN,FALSE,NaN
75848,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,1070,False,APARTMENT,350000.0,residential_sale,3.0,120.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
75849,1,https://www.immoweb.be/en/classified/apartment...,Heusden,9070,False,APARTMENT,435000.0,residential_sale,3.0,260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75850,1,https://www.immoweb.be/en/classified/apartment...,Brussel,1000,False,APARTMENT,597500.0,residential_sale,2.0,110.0,...,True,NaN,TRUE,8.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75851,1,https://www.immoweb.be/en/classified/apartment...,Blankenberge,8370,False,APARTMENT,95000.0,residential_sale,2.0,50.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75852,1,https://www.immoweb.be/en/classified/apartment...,Poperinge,8970,False,APARTMENT,180000.0,residential_sale,2.0,90.0,...,False,NaN,TRUE,33.0,NaN,NaN,NaN,NaN,FALSE,NaN
75853,1,https://www.immoweb.be/en/classified/apartment...,Amay Ampsin,4540,False,APARTMENT,159000.0,residential_sale,2.0,80.0,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75854,1,https://www.immoweb.be/en/classified/penthouse...,Watermael-Boitsfort,1170,False,PENTHOUSE,425000.0,residential_sale,2.0,98.0,...,False,NaN,TRUE,16.0,NaN,NaN,NaN,2.0,FALSE,NaN
75855,1,https://www.immoweb.be/en/classified/penthouse...,Uccle,1180,False,PENTHOUSE,585500.0,residential_sale,4.0,153.0,...,NaN,NaN,TRUE,54.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75856,1,https://www.immoweb.be/en/classified/apartment...,Antwerp,2000,False,APARTMENT,690000.0,residential_sale,1.0,166.0,...,NaN,NaN,TRUE,15.0,NaN,70.0,NaN,2.0,NaN,AS_NEW
75857,1,https://www.immoweb.be/en/classified/apartment...,Evere,1140,False,APARTMENT,265000.0,residential_sale,1.0,60.0,...,True,NaN,TRUE,6.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
75858,1,https://www.immoweb.be/en/classified/apartment...,Evere,1140,False,APARTMENT,370000.0,residential_sale,2.0,85.0,...,True,NaN,TRUE,17.0,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75859,1,https://www.immoweb.be/en/classified/apartment...,Uccle,1180,False,APARTMENT,495000.0,residential_sale,3.0,109.0,...,NaN,NaN,TRUE,12.0,NaN,NaN,NaN,NaN,FALSE,NaN
75860,1,https://www.immoweb.be/en/classified/ground-fl...,Auderghem,1160,False,GROUND_FLOOR,936000.0,residential_sale,3.0,146.0,...,False,NaN,TRUE,96.0,NaN,278.0,NaN,NaN,FALSE,AS_NEW
75861,1,https://www.immoweb.be/en/classified/apartment...,KNOKKE,8300,False,APARTMENT,1295000.0,residential_sale,2.0,90.0,...,NaN,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75862,1,https://www.immoweb.be/en/classified/apartment...,Mons,7000,False,APARTMENT,149000.0,residential_sale,1.0,65.0,...,False,NaN,TRUE,18.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
75863,1,https://www.immoweb.be/en/classified/apartment...,Deinze,9800,False,APARTMENT,247500.0,residential_sale,3.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75864,1,https://www.immoweb.be/en/classified/duplex/fo...,St-Pieters-Leeuw,1600,False,DUPLEX,335000.0,residential_sale,4.0,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75865,1,https://www.immoweb.be/en/classified/apartment...,NeufchÃteau Longlier,6840,False,APARTMENT,180000.0,residential_sale,2.0,80.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75866,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,9100,False,APARTMENT,195000.0,residential_sale,1.0,60.0,...,NaN,NaN,TRUE,10.0,NaN,NaN,NaN,4.0,NaN,NaN
75867,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,9100,False,APARTMENT,300000.0,residential_sale,2.0,98.0,...,NaN,NaN,TRUE,30.0,NaN,NaN,NaN,4.0,NaN,NaN
75868,1,https://www.immoweb.be/en/classified/apartment...,NaN,1000,False,APARTMENT,650000.0,residential_sale,2.0,102.0,...,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,2.0,NaN,AS_NEW
75869,1,https://www.immoweb.be/en/classified/flat-stud...,Anderlecht,1070,False,FLAT_STUDIO,140000.0,residential_sale,0.0,49.0,...,False,NaN,TRUE,5.0,NaN,NaN,NaN,NaN,FALSE,NaN
75870,1,https://www.immoweb.be/en/classified/duplex/fo...,Lebbeke,9280,False,DUPLEX,239000.0,residential_sale,3.0,118.0,...,NaN,NaN,TRUE,40.0,NaN,NaN,NaN,2.0,NaN,NaN
75871,1,https://www.immoweb.be/en/classified/penthouse...,Blankenberge,8370,False,PENTHOUSE,339000.0,residential_sale,2.0,115.0,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,FALSE,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,Sint-Kruis,8310,False,PENTHOUSE,649000.0,residential_sale,2.0,98.0,...,False,NaN,TRUE,28.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,Liège,4020,False,APARTMENT,25000.0,annuity_monthly_amount,3.0,142.0,...,NaN,NaN,TRUE,4.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,Huy,4500,False,APARTMENT,99000.0,residential_sale,3.0,210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,Verviers,4800,False,APARTMENT,109000.0,residential_sale,1.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Trying to use regex filtering - V5
#No conversion to numeric value
my_filter = df["locality"].str.contains('\d{4}', regex=True, na=False)
df[my_filter]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
5,6,8940340,4040,4040,True,HOUSE,189000,NaN,3,200,...,False,False,0,True,40,100,11,0,False,TO_BE_DONE_UP
6,6,8923626,4540,4540,True,MIXED_USE_BUILDING,465000,NaN,4,400,...,False,False,0,False,0,312,312,0,False,GOOD
7,6,8913667,1150,1150,True,APARTMENT_BLOCK,650000,NaN,4,200,...,False,True,4,True,150,301,301,0,False,GOOD
8,6,8693767,6870,6870,True,MIXED_USE_BUILDING,89000,NaN,3,180,...,False,False,0,False,0,96,96,0,False,TO_RENOVATE
9,6,8325945,4030,4030,True,MIXED_USE_BUILDING,129000,NaN,3,156,...,False,False,0,False,0,71,71,0,False,TO_BE_DONE_UP
10,6,8627972,9600,9600,True,APARTMENT_BLOCK,389000,NaN,6,255,...,False,True,22,False,0,205,205,0,False,GOOD
11,6,8783402,1030,1030,True,APARTMENT_BLOCK,399000,NaN,3,137,...,False,True,10,False,0,195,30,0,False,TO_RESTORE
12,6,8734225,4500,4500,True,APARTMENT_BLOCK,425000,NaN,5,400,...,False,True,0,True,366,603,114,0,False,AS_NEW
13,6,8730846,4500,4500,True,EXCEPTIONAL_PROPERTY,425000,NaN,5,400,...,False,True,0,True,366,603,114,0,False,AS_NEW
14,6,8560612,1200,1200,True,APARTMENT_BLOCK,1750000,NaN,7,550,...,False,True,20,True,60,270,270,0,False,AS_NEW
15,6,8412149,3270,3270,True,APARTMENT_BLOCK,198000,NaN,3,210,...,False,False,0,False,0,119,119,0,False,TO_RENOVATE
16,6,8894232,6760,6760,True,APARTMENT_BLOCK,349000,NaN,1,118,...,False,False,0,False,0,63,63,0,False,TO_BE_DONE_UP
17,6,8928748,9290,9290,True,MIXED_USE_BUILDING,445000,NaN,4,307,...,False,True,16,False,0,200,200,0,False,GOOD
18,6,8860947,8000,8000,True,MANSION,659000,NaN,3,232,...,True,True,20,False,0,125,125,0,False,JUST_RENOVATED
19,6,8941858,1140,1140,True,APARTMENT_BLOCK,695000,NaN,7,257,...,False,False,0,False,0,350,350,0,False,TO_BE_DONE_UP
20,6,8916756,8000,8000,True,MANSION,795000,NaN,5,265,...,False,True,38,False,0,110,110,0,False,JUST_RENOVATED
21,6,8939722,6940,6940,True,EXCEPTIONAL_PROPERTY,845000,NaN,7,340,...,False,False,0,True,6500,7000,7000,0,False,GOOD
22,6,8597517,4671,4671,True,APARTMENT_BLOCK,225000,NaN,4,270,...,False,True,150,False,0,315,315,0,False,TO_BE_DONE_UP
23,6,8913670,4020,4020,True,APARTMENT_BLOCK,280000,NaN,8,180,...,False,False,0,True,55,120,49,0,False,TO_BE_DONE_UP
24,6,8309310,1000,1000,True,MIXED_USE_BUILDING,1395000,NaN,3,568,...,False,False,0,False,0,196,196,0,False,JUST_RENOVATED
25,6,8157990,1000,1000,True,MIXED_USE_BUILDING,2375000,NaN,10,927,...,False,True,0,False,0,183,183,0,False,JUST_RENOVATED
26,6,7701433,1000,1000,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
27,6,7701432,1070,1070,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
28,6,8866543,6030,6030,True,APARTMENT_BLOCK,275000,NaN,3,205,...,False,False,0,False,0,167,167,0,False,TO_BE_DONE_UP
29,6,8894789,1030,1030,True,APARTMENT_BLOCK,520000,NaN,8,360,...,False,True,15,True,65,147,147,0,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93038,3,NaN,3000,3000,False,NaN,265000€,NaN,2,94 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93039,3,NaN,4000,4000,False,NaN,320000€,NaN,2,145 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93040,3,NaN,2060,2060,False,NaN,169900€,NaN,1,64 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Just renovated
93041,3,NaN,2170,2170,False,NaN,156000€,NaN,2,90 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93042,3,NaN,8480,8480,False,NaN,169000€,NaN,2,117 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93043,3,NaN,8480,8480,False,NaN,130000€,NaN,2,117 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93044,3,NaN,8820,8820,False,NaN,174000€,NaN,1,72 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93045,3,NaN,3300,3300,False,NaN,449000€,NaN,2,116 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93046,3,NaN,9080,9080,False,NaN,399000€,NaN,2,145 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93047,3,NaN,9500,9500,False,NaN,169000€,NaN,1,80 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93048,3,NaN,8370,8370,False,NaN,89500€,NaN,2,Not specified,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93049,3,NaN,8400,8400,False,NaN,219000€,NaN,2,Not specified,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93050,3,NaN,8570,8570,False,NaN,259500€,NaN,2,100 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93051,3,NaN,1140,1140,False,NaN,298000€,NaN,2,97 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93052,3,NaN,6790,6790,False,NaN,210000€,NaN,3,85 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified
93053,3,NaN,3700,3700,False,NaN,125000€,NaN,2,90 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93054,3,NaN,6560,6560,False,NaN,135000€,NaN,2,190 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93055,3,NaN,2140,2140,False,NaN,155000€,NaN,1,50 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93056,3,NaN,1050,1050,False,NaN,575000€,NaN,2,109 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,3,0,As new
93057,3,NaN,1050,1050,False,NaN,449000€,NaN,2,120 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To be done up
93058,3,NaN,2018,2018,False,NaN,420000€,NaN,3,150 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93059,3,NaN,2000,2000,False,NaN,285000€,NaN,1,80 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93060,3,NaN,3090,3090,False,NaN,295000€,NaN,1,60 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93061,3,NaN,1160,1160,False,NaN,380000€,NaN,2,87 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93062,3,NaN,4020,4020,False,NaN,137000€,NaN,1,60 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93063,3,NaN,2650,2650,False,NaN,210000€,NaN,2,100 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93064,3,NaN,3700,3700,False,NaN,239000€,NaN,1,78 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93065,3,NaN,3800,3800,False,NaN,259000€,NaN,2,90 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93066,3,NaN,2610,2610,False,NaN,254000€,NaN,2,88 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93067,3,NaN,9840,9840,False,NaN,359000€,NaN,2,140 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified

In [21]:
#https://stackoverflow.com/questions/37080612/pandas-dataframe-filter-regex

import pandas as pd

df = pd.DataFrame(
    [
        ['Hello', 'World'],
        ['Just', 'Wanted'],
        ['To', 'Say'],
        ['I\'m', 'Tired']
    ]
)

df.filter([0], regex=r'(Hel|Just)', axis=0)

#it is supposed to work as I took the full example from internet, but does not work properly

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

In [19]:
#Trying to use regex filtering - V3
#Trying the same on a string value
df.filter(['price'], regex=r'\d{4}', axis=0)
# What is the meaning of the error ?

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

In [18]:
#Trying to use regex filtering - V2
df['locality'] = pd.to_numeric(df['locality'], errors='coerce')
df['postcode'] = pd.to_numeric(df['postcode'], errors='coerce') 
#After converting to numeric, I cannot use contains anymore, is there an alternative ?
df.filter(['locality'], regex=r'\d{4}', axis=0)

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

In [16]:
#Trying to use regex filtering - V1
df['locality'] = pd.to_numeric(df['locality'], errors='coerce')
df['postcode'] = pd.to_numeric(df['postcode'], errors='coerce') 
#After converting to numeric, I cannot use contains anymore
my_filter = df["locality"].str.contains('\d{6}', regex=True, na=False)
df[my_filter]

AttributeError: Can only use .str accessor with string values!