# Notes préliminaires
### README
Le fichier commence par la cell d'import des données. 
Une fois la première cellule lancée, il faut lire le fichier de bas en haut. 
Chaque cellule correspond à un "essai". Le but est en général décrit en commentaire.
## Questions
###### Is regex usage a recommanded way to go about data cleaning?

In [19]:
import pandas as pd
df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})

In [78]:
#extract locality
import re
pattern = re.compile("(\p{L}+ ){0,}(\p{L}+)$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is not None: 
            search_match = pattern.search(row).group()
            test_df.at[row_number, 'loc_clean'] = search_match
            print(search_match)
            break;
            if pd.isna(test_df["postcode"][row_number]): 
                test_df.loc[row_number, 'postcode'] = search_match
test_df[test_df["loc_dirty"]!="dirty value"]
#my regex is rejected.

error: bad escape \p at position 1

In [70]:
#extract the postcode 
pattern = re.compile("\d{4}")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is not None: 
            search_match = pattern.search(row).group()
            test_df.at[row_number, 'loc_clean'] = search_match
            if pd.isna(test_df["postcode"][row_number]): 
                test_df.loc[row_number, 'postcode'] = search_match
test_df[test_df["loc_dirty"]!="dirty value"]

,source,hyperlink,locality,loc_clean,loc_dirty,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18034,2,https://www.realo.be/en/rue-rimiere-105-4120-r...,"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",4120,"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",4120,True,House,0,NaN,...,False,False,NaN,False,NaN,NaN,No,NaN,False,NaN
18035,2,https://www.realo.be/en/sint-truidensesteenweg...,"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gus...",3350,"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gus...",3350,True,House,340000€ 340.000,NaN,...,False,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18036,2,https://www.realo.be/en/augustijnenlaan-77-220...,"Augustijnenlaan 77 201, 2200 Herentals",2200,"Augustijnenlaan 77 201, 2200 Herentals",2200,False,Flat,259000€ 259.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18037,2,https://www.realo.be/en/averbodesesteenweg-19-...,"Averbodesesteenweg 19, 2230 Herselt",2230,"Averbodesesteenweg 19, 2230 Herselt",2230,True,House,449000€ 449.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18038,2,https://www.realo.be/en/edward-pynaertkaai-21-...,"Edward pynaertkaai 21, 9050 Ledeberg",9050,"Edward pynaertkaai 21, 9050 Ledeberg",9050,False,Flat,249900€ 249.900,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18039,2,https://www.realo.be/en/engelstraat-148-9040-s...,Zéér RUIME Bel-etage woning met ATELIER,clean value,Zéér RUIME Bel-etage woning met ATELIER,NaN,True,House,495000€ 495.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18040,2,https://www.realo.be/en/groenplein-33-9060-zel...,"Groenplein 33 302, 9060 Zelzate",9060,"Groenplein 33 302, 9060 Zelzate",9060,False,Flat,159000€ 159.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18041,2,https://www.realo.be/en/hoogveldstraat-21-3720...,"Hoogveldstraat 21 D, 3720 Kortessem",3720,"Hoogveldstraat 21 D, 3720 Kortessem",3720,False,Flat,219000€ 219.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18042,2,https://www.realo.be/en/eerste-meistraat-4-370...,"Eerste-Meistraat 4, 3700 Tongeren",3700,"Eerste-Meistraat 4, 3700 Tongeren",3700,False,Business,0,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18043,2,https://www.realo.be/en/roeselaarsestraat-84-8...,"Roeselaarsestraat 84 8, 8870 Izegem",8870,"Roeselaarsestraat 84 8, 8870 Izegem",8870,False,Flat,247000€ 247.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18044,2,https://www.realo.be/en/meikeverstraat-12-2250...,"Meikeverstraat 12, 2250 Olen",2250,"Meikeverstraat 12, 2250 Olen",2250,True,House,379000€ 379.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18045,2,https://www.realo.be/en/salvialaan-31-2260-oev...,"Salvialaan 31, 2260 Oevel, Westerlo",2260,"Salvialaan 31, 2260 Oevel, Westerlo",2260,True,House,265000€ 265.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18046,2,https://www.realo.be/en/ellestraat-26-8470-gis...,"Ellestraat 26 3, 8470 Gistel",8470,"Ellestraat 26 3, 8470 Gistel",8470,False,Flat,199000€ 199.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18047,2,https://www.realo.be/en/venneweg-11-2230-herse...,"Venneweg 11, 2230 Herselt, Herselt",2230,"Venneweg 11, 2230 Herselt, Herselt",2230,True,House,65000€ 65.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18048,2,https://www.realo.be/en/venneweg-9-2230-hersel...,"Venneweg 9, 2230 Herselt, Herselt",2230,"Venneweg 9, 2230 Herselt, Herselt",2230,True,House,55000€ 55.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18049,2,https://www.realo.be/en/leieweg-57-8510-marke/...,"Leieweg 57, 8510 Marke",8510,"Leieweg 57, 8510 Marke",8510,True,House,595000€ 595.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18050,2,https://www.realo.be/en/koningin-elisabethlei-...,"Koningin elisabethlei 1 8, 2300 Turnhout",2300,"Koningin elisabethlei 1 8, 2300 Turnhout",2300,False,Flat,229000€ 229.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18051,2,https://www.realo.be/en/rue-jean-damard-37-416...,"Rue jean damard 37, 4163 Tavier, Anthisnes",4163,"Rue jean damard 37, 4163 Tavier, Anthisnes",4163,True,House,385000€ 385.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18052,2,https://www.realo.be/en/stationsstraat-29-2200...,"Stationsstraat 29 214, 2200 Herentals",2200,"Stationsstraat 29 214, 2200 Herentals",2200,False,Flat,170000€ 170.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18053,2,https://www.realo.be/en/gentse-steenweg-336-96...,"Gentse steenweg 336, 9620 Leeuwergem, Zottegem",9620,"Gentse steenweg 336, 9620 Leeuwergem, Zottegem",9620,True,House,339000€ 339.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18054,2,https://www.realo.be/en/nijverheidstraat-40-23...,"Nijverheidstraat 40, 2300 Turnhout",2300,"Nijverheidstraat 40, 2300 Turnhout",2300,True,House,210000€ 210.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18055,2,https://www.realo.be/en/hikstraat-48-2200-here...,"Hikstraat 48, 2200 Herentals",2200,"Hikstraat 48, 2200 Herentals",2200,True,House,269000€ 269.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18056,2,https://www.realo.be/en/anjelierstraat-65-9000...,"Anjelierstraat 65, 9000 Ghent, Gent",9000,"Anjelierstraat 65, 9000 Ghent, Gent",9000,False,Flat,204000€ 204.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18057,2,https://www.realo.be/en/oosterwijk-27-2260-ton...,"Oosterwijk 27, 2260 Tongerlo, Westerlo",2260,"Oosterwijk 27, 2260 Tongerlo, Westerlo",2260,True,House,170000€ 170.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18058,2,https://www.realo.be/en/belikstraat-113-3550-z...,"Belikstraat 113, 3550 Zolder, Heusden-Zolder",3550,"Belikstraat 113, 3550 Zolder, Heusden-Zolder",3550,True,House,279000€ 279.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18059,2,https://www.realo.be/en/vissersstraat-110-8380...,"Vissersstraat 110, 8380 Zeebrugge",8380,"Vissersstraat 110, 8380 Zeebrugge",8380,True,House,199000€ 199.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18060,2,https://www.realo.be/en/biddersstraat-27-8000-...,"Biddersstraat 27, 8000 Brugge",8000,"Biddersstraat 27, 8000 Brugge",8000,True,House,220000€ 220.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18061,2,https://www.realo.be/en/molenstraat-2c-9880-aa...,"Molenstraat 2C, 9880 Aalter",9880,"Molenstraat 2C, 9880 Aalter",9880,True,House,339000€ 339.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18062,2,https://www.realo.be/en/oostakker-40-2290-vors...,"Oostakker 40, 2290 Vorselaar",2290,"Oostakker 40, 2290 Vorselaar",2290,True,House,230000€ 230.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18063,2,https://www.realo.be/en/pieter-de-bruynestraat...,"Pieter De Bruynestraat 35, 9300 Aalst",9300,"Pieter De Bruynestraat 35, 9300 Aalst",9300,True,House,450000€ 450.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75845,1,https://www.immoweb.be/en/classified/penthouse...,Izegem,clean value,Izegem,8870,False,PENTHOUSE,225000.0,residential_sale,...,NaN,NaN,TRUE,20.0,NaN,NaN,NaN,2.0,NaN,NaN
75846,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,clean value,Anderlecht,1070,False,APARTMENT,250000.0,residential_sale,...,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
75847,1,https://www.immoweb.be/en/classified/apartment...,Merelbeke,clean value,Merelbeke,9820,False,APARTMENT,265000.0,residential_sale,...,NaN,NaN,TRUE,7.0,NaN,NaN,NaN,NaN,FALSE,NaN
75848,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,clean value,Anderlecht,1070,False,APARTMENT,350000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
75849,1,https://www.immoweb.be/en/classified/apartment...,Heusden,clean value,Heusden,9070,False,APARTMENT,435000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75850,1,https://www.immoweb.be/en/classified/apartment...,Brussel,clean value,Brussel,1000,False,APARTMENT,597500.0,residential_sale,...,True,NaN,TRUE,8.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75851,1,https://www.immoweb.be/en/classified/apartment...,Blankenberge,clean value,Blankenberge,8370,False,APARTMENT,95000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75852,1,https://www.immoweb.be/en/classified/apartment...,Poperinge,clean value,Poperinge,8970,False,APARTMENT,180000.0,residential_sale,...,False,NaN,TRUE,33.0,NaN,NaN,NaN,NaN,FALSE,NaN
75853,1,https://www.immoweb.be/en/classified/apartment...,Amay Ampsin,clean value,Amay Ampsin,4540,False,APARTMENT,159000.0,residential_sale,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75854,1,https://www.immoweb.be/en/classified/penthouse...,Watermael-Boitsfort,clean value,Watermael-Boitsfort,1170,False,PENTHOUSE,425000.0,residential_sale,...,False,NaN,TRUE,16.0,NaN,NaN,NaN,2.0,FALSE,NaN
75855,1,https://www.immoweb.be/en/classified/penthouse...,Uccle,clean value,Uccle,1180,False,PENTHOUSE,585500.0,residential_sale,...,NaN,NaN,TRUE,54.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75856,1,https://www.immoweb.be/en/classified/apartment...,Antwerp,clean value,Antwerp,2000,False,APARTMENT,690000.0,residential_sale,...,NaN,NaN,TRUE,15.0,NaN,70.0,NaN,2.0,NaN,AS_NEW
75857,1,https://www.immoweb.be/en/classified/apartment...,Evere,clean value,Evere,1140,False,APARTMENT,265000.0,residential_sale,...,True,NaN,TRUE,6.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
75858,1,https://www.immoweb.be/en/classified/apartment...,Evere,clean value,Evere,1140,False,APARTMENT,370000.0,residential_sale,...,True,NaN,TRUE,17.0,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75859,1,https://www.immoweb.be/en/classified/apartment...,Uccle,clean value,Uccle,1180,False,APARTMENT,495000.0,residential_sale,...,NaN,NaN,TRUE,12.0,NaN,NaN,NaN,NaN,FALSE,NaN
75860,1,https://www.immoweb.be/en/classified/ground-fl...,Auderghem,clean value,Auderghem,1160,False,GROUND_FLOOR,936000.0,residential_sale,...,False,NaN,TRUE,96.0,NaN,278.0,NaN,NaN,FALSE,AS_NEW
75861,1,https://www.immoweb.be/en/classified/apartment...,KNOKKE,clean value,KNOKKE,8300,False,APARTMENT,1295000.0,residential_sale,...,NaN,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75862,1,https://www.immoweb.be/en/classified/apartment...,Mons,clean value,Mons,7000,False,APARTMENT,149000.0,residential_sale,...,False,NaN,TRUE,18.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
75863,1,https://www.immoweb.be/en/classified/apartment...,Deinze,clean value,Deinze,9800,False,APARTMENT,247500.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75864,1,https://www.immoweb.be/en/classified/duplex/fo...,St-Pieters-Leeuw,clean value,St-Pieters-Leeuw,1600,False,DUPLEX,335000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75865,1,https://www.immoweb.be/en/classified/apartment...,NeufchÃteau Longlier,clean value,NeufchÃteau Longlier,6840,False,APARTMENT,180000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75866,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,clean value,SINT-NIKLAAS,9100,False,APARTMENT,195000.0,residential_sale,...,NaN,NaN,TRUE,10.0,NaN,NaN,NaN,4.0,NaN,NaN
75867,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,clean value,SINT-NIKLAAS,9100,False,APARTMENT,300000.0,residential_sale,...,NaN,NaN,TRUE,30.0,NaN,NaN,NaN,4.0,NaN,NaN
75869,1,https://www.immoweb.be/en/classified/flat-stud...,Anderlecht,clean value,Anderlecht,1070,False,FLAT_STUDIO,140000.0,residential_sale,...,False,NaN,TRUE,5.0,NaN,NaN,NaN,NaN,FALSE,NaN
75870,1,https://www.immoweb.be/en/classified/duplex/fo...,Lebbeke,clean value,Lebbeke,9280,False,DUPLEX,239000.0,residential_sale,...,NaN,NaN,TRUE,40.0,NaN,NaN,NaN,2.0,NaN,NaN
75871,1,https://www.immoweb.be/en/classified/penthouse...,Blankenberge,clean value,Blankenberge,8370,False,PENTHOUSE,339000.0,residential_sale,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,FALSE,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,Sint-Kruis,clean value,Sint-Kruis,8310,False,PENTHOUSE,649000.0,residential_sale,...,False,NaN,TRUE,28.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,Liège,clean value,Liège,4020,False,APARTMENT,25000.0,annuity_monthly_amount,...,NaN,NaN,TRUE,4.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,Huy,clean value,Huy,4500,False,APARTMENT,99000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,Verviers,clean value,Verviers,4800,False,APARTMENT,109000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#trying to extract the match from the search function
pattern = re.compile("\d{4}")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row).group()
        if search_result is not None: 
            test_df.at[row_number, 'loc_clean'] = search_result
            if test_df["postcode"][row_number].isnull(): 
                test_df["postcode"][row_number] = search_result
#'str' object has no attribute 'isnull'

AttributeError: 'str' object has no attribute 'isnull'

In [57]:
#--------------
# WORKING CODE
# NEW REFERENCE
#--------------
#cleaning up locality and postcode 
import pandas as pd
import numpy as np
import re

df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})
test_df = df


if 'loc_clean' not in test_df.columns:
    test_df.insert(3, "loc_clean", "clean value")
if 'loc_dirty' not in test_df.columns:
    test_df.insert(4, "loc_dirty", "dirty value")

#Split clean and unclean values
pattern = re.compile("^\d{4}$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is None: 
            test_df.at[row_number, 'loc_dirty'] = row
        else: 
            test_df.at[row_number, 'loc_clean'] = row

row_number = -1
for row in test_df["locality"]:
    row_number+=1
    if row == test_df["postcode"][row_number]: 
        test_df.loc[row_number, 'locality'] = np.nan
        
#takes a crazy amount of time to run

In [28]:
#cleaning up locality and postcode 
import pandas as pd
import numpy as np
import re

df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})
test_df = df


if 'loc_clean' not in test_df.columns:
    test_df.insert(3, "loc_clean", "clean value")
if 'loc_dirty' not in test_df.columns:
    test_df.insert(4, "loc_dirty", "dirty value")

#For all pc in locality, empty locality end copy value to clean column, if format is different, copy it to dirty column
pattern = re.compile("^\d{4}$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is None: 
            test_df.at[row_number, 'loc_dirty'] = row
        else: 
            if row == test_df["postcode"][row_number]: 
                test_df.loc[row_number, 'locality'] = np.nan
            test_df.at[row_number, 'loc_clean'] = row
test_df[test_df["loc_dirty"] == "dirty value"]
#takes a crazy amount of time

,source,hyperlink,locality,loc_clean,loc_dirty,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,NaN,4180,dirty value,4180,True,MIXED_USE_BUILDING,295000,NaN,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,NaN,8730,dirty value,8730,True,VILLA,675000,NaN,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,NaN,4020,dirty value,4020,True,APARTMENT_BLOCK,250000,NaN,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,NaN,1200,dirty value,1200,True,HOUSE,545000,NaN,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,NaN,1190,dirty value,1190,True,MIXED_USE_BUILDING,500000,NaN,...,False,False,0,True,60,193,193,0,False,AS_NEW
5,6,8940340,NaN,4040,dirty value,4040,True,HOUSE,189000,NaN,...,False,False,0,True,40,100,11,0,False,TO_BE_DONE_UP
6,6,8923626,NaN,4540,dirty value,4540,True,MIXED_USE_BUILDING,465000,NaN,...,False,False,0,False,0,312,312,0,False,GOOD
7,6,8913667,NaN,1150,dirty value,1150,True,APARTMENT_BLOCK,650000,NaN,...,False,True,4,True,150,301,301,0,False,GOOD
8,6,8693767,NaN,6870,dirty value,6870,True,MIXED_USE_BUILDING,89000,NaN,...,False,False,0,False,0,96,96,0,False,TO_RENOVATE
9,6,8325945,NaN,4030,dirty value,4030,True,MIXED_USE_BUILDING,129000,NaN,...,False,False,0,False,0,71,71,0,False,TO_BE_DONE_UP
10,6,8627972,NaN,9600,dirty value,9600,True,APARTMENT_BLOCK,389000,NaN,...,False,True,22,False,0,205,205,0,False,GOOD
11,6,8783402,NaN,1030,dirty value,1030,True,APARTMENT_BLOCK,399000,NaN,...,False,True,10,False,0,195,30,0,False,TO_RESTORE
12,6,8734225,NaN,4500,dirty value,4500,True,APARTMENT_BLOCK,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
13,6,8730846,NaN,4500,dirty value,4500,True,EXCEPTIONAL_PROPERTY,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
14,6,8560612,NaN,1200,dirty value,1200,True,APARTMENT_BLOCK,1750000,NaN,...,False,True,20,True,60,270,270,0,False,AS_NEW
15,6,8412149,NaN,3270,dirty value,3270,True,APARTMENT_BLOCK,198000,NaN,...,False,False,0,False,0,119,119,0,False,TO_RENOVATE
16,6,8894232,NaN,6760,dirty value,6760,True,APARTMENT_BLOCK,349000,NaN,...,False,False,0,False,0,63,63,0,False,TO_BE_DONE_UP
17,6,8928748,NaN,9290,dirty value,9290,True,MIXED_USE_BUILDING,445000,NaN,...,False,True,16,False,0,200,200,0,False,GOOD
18,6,8860947,NaN,8000,dirty value,8000,True,MANSION,659000,NaN,...,True,True,20,False,0,125,125,0,False,JUST_RENOVATED
19,6,8941858,NaN,1140,dirty value,1140,True,APARTMENT_BLOCK,695000,NaN,...,False,False,0,False,0,350,350,0,False,TO_BE_DONE_UP
20,6,8916756,NaN,8000,dirty value,8000,True,MANSION,795000,NaN,...,False,True,38,False,0,110,110,0,False,JUST_RENOVATED
21,6,8939722,NaN,6940,dirty value,6940,True,EXCEPTIONAL_PROPERTY,845000,NaN,...,False,False,0,True,6500,7000,7000,0,False,GOOD
22,6,8597517,NaN,4671,dirty value,4671,True,APARTMENT_BLOCK,225000,NaN,...,False,True,150,False,0,315,315,0,False,TO_BE_DONE_UP
23,6,8913670,NaN,4020,dirty value,4020,True,APARTMENT_BLOCK,280000,NaN,...,False,False,0,True,55,120,49,0,False,TO_BE_DONE_UP
24,6,8309310,NaN,1000,dirty value,1000,True,MIXED_USE_BUILDING,1395000,NaN,...,False,False,0,False,0,196,196,0,False,JUST_RENOVATED
25,6,8157990,NaN,1000,dirty value,1000,True,MIXED_USE_BUILDING,2375000,NaN,...,False,True,0,False,0,183,183,0,False,JUST_RENOVATED
26,6,7701433,NaN,1000,dirty value,1000,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
27,6,7701432,NaN,1070,dirty value,1070,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
28,6,8866543,NaN,6030,dirty value,6030,True,APARTMENT_BLOCK,275000,NaN,...,False,False,0,False,0,167,167,0,False,TO_BE_DONE_UP
29,6,8894789,NaN,1030,dirty value,1030,True,APARTMENT_BLOCK,520000,NaN,...,False,True,15,True,65,147,147,0,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93038,3,NaN,NaN,3000,dirty value,3000,False,NaN,265000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93039,3,NaN,NaN,4000,dirty value,4000,False,NaN,320000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93040,3,NaN,NaN,2060,dirty value,2060,False,NaN,169900€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Just renovated
93041,3,NaN,NaN,2170,dirty value,2170,False,NaN,156000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93042,3,NaN,NaN,8480,dirty value,8480,False,NaN,169000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93043,3,NaN,NaN,8480,dirty value,8480,False,NaN,130000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93044,3,NaN,NaN,8820,dirty value,8820,False,NaN,174000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93045,3,NaN,NaN,3300,dirty value,3300,False,NaN,449000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93046,3,NaN,NaN,9080,dirty value,9080,False,NaN,399000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93047,3,NaN,NaN,9500,dirty value,9500,False,NaN,169000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93048,3,NaN,NaN,8370,dirty value,8370,False,NaN,89500€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93049,3,NaN,NaN,8400,dirty value,8400,False,NaN,219000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93050,3,NaN,NaN,8570,dirty value,8570,False,NaN,259500€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93051,3,NaN,NaN,1140,dirty value,1140,False,NaN,298000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93052,3,NaN,NaN,6790,dirty value,6790,False,NaN,210000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified
93053,3,NaN,NaN,3700,dirty value,3700,False,NaN,125000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93054,3,NaN,NaN,6560,dirty value,6560,False,NaN,135000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93055,3,NaN,NaN,2140,dirty value,2140,False,NaN,155000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93056,3,NaN,NaN,1050,dirty value,1050,False,NaN,575000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,3,0,As new
93057,3,NaN,NaN,1050,dirty value,1050,False,NaN,449000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To be done up
93058,3,NaN,NaN,2018,dirty value,2018,False,NaN,420000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93059,3,NaN,NaN,2000,dirty value,2000,False,NaN,285000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93060,3,NaN,NaN,3090,dirty value,3090,False,NaN,295000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93061,3,NaN,NaN,1160,dirty value,1160,False,NaN,380000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93062,3,NaN,NaN,4020,dirty value,4020,False,NaN,137000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93063,3,NaN,NaN,2650,dirty value,2650,False,NaN,210000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93064,3,NaN,NaN,3700,dirty value,3700,False,NaN,239000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93065,3,NaN,NaN,3800,dirty value,3800,False,NaN,259000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93066,3,NaN,NaN,2610,dirty value,2610,False,NaN,254000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93067,3,NaN,NaN,9840,dirty value,9840,False,NaN,359000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified

In [20]:
#actually should have done it rather for the postcode
test_df = df
import numpy as np
if 'loc_clean' not in test_df.columns:
    test_df.insert(3, "loc_clean", "clean value")
if 'loc_dirty' not in test_df.columns:
    test_df.insert(4, "loc_dirty", "dirty value")
import re
pattern = re.compile("^\d{4}$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is None: 
            test_df.at[row_number, 'loc_dirty'] = row
        else: 
            test_df.at[row_number, 'loc_clean'] = row
test_df[test_df["loc_dirty"] == "dirty value"]

,source,hyperlink,locality,loc_clean,loc_dirty,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180,dirty value,4180,True,MIXED_USE_BUILDING,295000,NaN,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730,dirty value,8730,True,VILLA,675000,NaN,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020,dirty value,4020,True,APARTMENT_BLOCK,250000,NaN,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200,dirty value,1200,True,HOUSE,545000,NaN,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190,dirty value,1190,True,MIXED_USE_BUILDING,500000,NaN,...,False,False,0,True,60,193,193,0,False,AS_NEW
5,6,8940340,4040,4040,dirty value,4040,True,HOUSE,189000,NaN,...,False,False,0,True,40,100,11,0,False,TO_BE_DONE_UP
6,6,8923626,4540,4540,dirty value,4540,True,MIXED_USE_BUILDING,465000,NaN,...,False,False,0,False,0,312,312,0,False,GOOD
7,6,8913667,1150,1150,dirty value,1150,True,APARTMENT_BLOCK,650000,NaN,...,False,True,4,True,150,301,301,0,False,GOOD
8,6,8693767,6870,6870,dirty value,6870,True,MIXED_USE_BUILDING,89000,NaN,...,False,False,0,False,0,96,96,0,False,TO_RENOVATE
9,6,8325945,4030,4030,dirty value,4030,True,MIXED_USE_BUILDING,129000,NaN,...,False,False,0,False,0,71,71,0,False,TO_BE_DONE_UP
10,6,8627972,9600,9600,dirty value,9600,True,APARTMENT_BLOCK,389000,NaN,...,False,True,22,False,0,205,205,0,False,GOOD
11,6,8783402,1030,1030,dirty value,1030,True,APARTMENT_BLOCK,399000,NaN,...,False,True,10,False,0,195,30,0,False,TO_RESTORE
12,6,8734225,4500,4500,dirty value,4500,True,APARTMENT_BLOCK,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
13,6,8730846,4500,4500,dirty value,4500,True,EXCEPTIONAL_PROPERTY,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
14,6,8560612,1200,1200,dirty value,1200,True,APARTMENT_BLOCK,1750000,NaN,...,False,True,20,True,60,270,270,0,False,AS_NEW
15,6,8412149,3270,3270,dirty value,3270,True,APARTMENT_BLOCK,198000,NaN,...,False,False,0,False,0,119,119,0,False,TO_RENOVATE
16,6,8894232,6760,6760,dirty value,6760,True,APARTMENT_BLOCK,349000,NaN,...,False,False,0,False,0,63,63,0,False,TO_BE_DONE_UP
17,6,8928748,9290,9290,dirty value,9290,True,MIXED_USE_BUILDING,445000,NaN,...,False,True,16,False,0,200,200,0,False,GOOD
18,6,8860947,8000,8000,dirty value,8000,True,MANSION,659000,NaN,...,True,True,20,False,0,125,125,0,False,JUST_RENOVATED
19,6,8941858,1140,1140,dirty value,1140,True,APARTMENT_BLOCK,695000,NaN,...,False,False,0,False,0,350,350,0,False,TO_BE_DONE_UP
20,6,8916756,8000,8000,dirty value,8000,True,MANSION,795000,NaN,...,False,True,38,False,0,110,110,0,False,JUST_RENOVATED
21,6,8939722,6940,6940,dirty value,6940,True,EXCEPTIONAL_PROPERTY,845000,NaN,...,False,False,0,True,6500,7000,7000,0,False,GOOD
22,6,8597517,4671,4671,dirty value,4671,True,APARTMENT_BLOCK,225000,NaN,...,False,True,150,False,0,315,315,0,False,TO_BE_DONE_UP
23,6,8913670,4020,4020,dirty value,4020,True,APARTMENT_BLOCK,280000,NaN,...,False,False,0,True,55,120,49,0,False,TO_BE_DONE_UP
24,6,8309310,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,1395000,NaN,...,False,False,0,False,0,196,196,0,False,JUST_RENOVATED
25,6,8157990,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,2375000,NaN,...,False,True,0,False,0,183,183,0,False,JUST_RENOVATED
26,6,7701433,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
27,6,7701432,1070,1070,dirty value,1070,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
28,6,8866543,6030,6030,dirty value,6030,True,APARTMENT_BLOCK,275000,NaN,...,False,False,0,False,0,167,167,0,False,TO_BE_DONE_UP
29,6,8894789,1030,1030,dirty value,1030,True,APARTMENT_BLOCK,520000,NaN,...,False,True,15,True,65,147,147,0,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93038,3,NaN,3000,3000,dirty value,3000,False,NaN,265000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93039,3,NaN,4000,4000,dirty value,4000,False,NaN,320000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93040,3,NaN,2060,2060,dirty value,2060,False,NaN,169900€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Just renovated
93041,3,NaN,2170,2170,dirty value,2170,False,NaN,156000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93042,3,NaN,8480,8480,dirty value,8480,False,NaN,169000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93043,3,NaN,8480,8480,dirty value,8480,False,NaN,130000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93044,3,NaN,8820,8820,dirty value,8820,False,NaN,174000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93045,3,NaN,3300,3300,dirty value,3300,False,NaN,449000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93046,3,NaN,9080,9080,dirty value,9080,False,NaN,399000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93047,3,NaN,9500,9500,dirty value,9500,False,NaN,169000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93048,3,NaN,8370,8370,dirty value,8370,False,NaN,89500€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93049,3,NaN,8400,8400,dirty value,8400,False,NaN,219000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93050,3,NaN,8570,8570,dirty value,8570,False,NaN,259500€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93051,3,NaN,1140,1140,dirty value,1140,False,NaN,298000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93052,3,NaN,6790,6790,dirty value,6790,False,NaN,210000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified
93053,3,NaN,3700,3700,dirty value,3700,False,NaN,125000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93054,3,NaN,6560,6560,dirty value,6560,False,NaN,135000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93055,3,NaN,2140,2140,dirty value,2140,False,NaN,155000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93056,3,NaN,1050,1050,dirty value,1050,False,NaN,575000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,3,0,As new
93057,3,NaN,1050,1050,dirty value,1050,False,NaN,449000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To be done up
93058,3,NaN,2018,2018,dirty value,2018,False,NaN,420000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93059,3,NaN,2000,2000,dirty value,2000,False,NaN,285000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93060,3,NaN,3090,3090,dirty value,3090,False,NaN,295000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93061,3,NaN,1160,1160,dirty value,1160,False,NaN,380000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93062,3,NaN,4020,4020,dirty value,4020,False,NaN,137000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93063,3,NaN,2650,2650,dirty value,2650,False,NaN,210000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93064,3,NaN,3700,3700,dirty value,3700,False,NaN,239000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93065,3,NaN,3800,3800,dirty value,3800,False,NaN,259000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93066,3,NaN,2610,2610,dirty value,2610,False,NaN,254000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93067,3,NaN,9840,9840,dirty value,9840,False,NaN,359000€,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified

In [107]:
#trying to apply this in locality 
test_df = df.head(100000)
#WARNING I go >10k I have an issue
#TypeError: expected string or bytes-like object
if 'loc_clean' not in test_df.columns:
    test_df.insert(3, "loc_clean", "clean value")
if 'loc_dirty' not in test_df.columns:
    test_df.insert(4, "loc_dirty", "dirty value")
import re
pattern = re.compile("^\d{4}$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    if type(row) is str: 
        search_result = pattern.search(row)
        if search_result is None: 
            test_df.at[row_number, 'loc_dirty'] = row
        else: 
            test_df.at[row_number, 'loc_clean'] = row
test_df[test_df["loc_dirty"] != "dirty value"]

,source,hyperlink,locality,loc_clean,loc_dirty,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18034,2,https://www.realo.be/en/rue-rimiere-105-4120-r...,"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",clean value,"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",NaN,True,House,0,NaN,...,False,False,NaN,False,NaN,NaN,No,NaN,False,NaN
18035,2,https://www.realo.be/en/sint-truidensesteenweg...,"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gus...",clean value,"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gus...",NaN,True,House,340000€ 340.000,NaN,...,False,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18036,2,https://www.realo.be/en/augustijnenlaan-77-220...,"Augustijnenlaan 77 201, 2200 Herentals",clean value,"Augustijnenlaan 77 201, 2200 Herentals",NaN,False,Flat,259000€ 259.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18037,2,https://www.realo.be/en/averbodesesteenweg-19-...,"Averbodesesteenweg 19, 2230 Herselt",clean value,"Averbodesesteenweg 19, 2230 Herselt",NaN,True,House,449000€ 449.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18038,2,https://www.realo.be/en/edward-pynaertkaai-21-...,"Edward pynaertkaai 21, 9050 Ledeberg",clean value,"Edward pynaertkaai 21, 9050 Ledeberg",NaN,False,Flat,249900€ 249.900,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18039,2,https://www.realo.be/en/engelstraat-148-9040-s...,Zéér RUIME Bel-etage woning met ATELIER,clean value,Zéér RUIME Bel-etage woning met ATELIER,NaN,True,House,495000€ 495.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18040,2,https://www.realo.be/en/groenplein-33-9060-zel...,"Groenplein 33 302, 9060 Zelzate",clean value,"Groenplein 33 302, 9060 Zelzate",NaN,False,Flat,159000€ 159.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18041,2,https://www.realo.be/en/hoogveldstraat-21-3720...,"Hoogveldstraat 21 D, 3720 Kortessem",clean value,"Hoogveldstraat 21 D, 3720 Kortessem",NaN,False,Flat,219000€ 219.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18042,2,https://www.realo.be/en/eerste-meistraat-4-370...,"Eerste-Meistraat 4, 3700 Tongeren",clean value,"Eerste-Meistraat 4, 3700 Tongeren",NaN,False,Business,0,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18043,2,https://www.realo.be/en/roeselaarsestraat-84-8...,"Roeselaarsestraat 84 8, 8870 Izegem",clean value,"Roeselaarsestraat 84 8, 8870 Izegem",NaN,False,Flat,247000€ 247.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18044,2,https://www.realo.be/en/meikeverstraat-12-2250...,"Meikeverstraat 12, 2250 Olen",clean value,"Meikeverstraat 12, 2250 Olen",NaN,True,House,379000€ 379.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18045,2,https://www.realo.be/en/salvialaan-31-2260-oev...,"Salvialaan 31, 2260 Oevel, Westerlo",clean value,"Salvialaan 31, 2260 Oevel, Westerlo",NaN,True,House,265000€ 265.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18046,2,https://www.realo.be/en/ellestraat-26-8470-gis...,"Ellestraat 26 3, 8470 Gistel",clean value,"Ellestraat 26 3, 8470 Gistel",NaN,False,Flat,199000€ 199.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18047,2,https://www.realo.be/en/venneweg-11-2230-herse...,"Venneweg 11, 2230 Herselt, Herselt",clean value,"Venneweg 11, 2230 Herselt, Herselt",NaN,True,House,65000€ 65.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18048,2,https://www.realo.be/en/venneweg-9-2230-hersel...,"Venneweg 9, 2230 Herselt, Herselt",clean value,"Venneweg 9, 2230 Herselt, Herselt",NaN,True,House,55000€ 55.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18049,2,https://www.realo.be/en/leieweg-57-8510-marke/...,"Leieweg 57, 8510 Marke",clean value,"Leieweg 57, 8510 Marke",NaN,True,House,595000€ 595.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18050,2,https://www.realo.be/en/koningin-elisabethlei-...,"Koningin elisabethlei 1 8, 2300 Turnhout",clean value,"Koningin elisabethlei 1 8, 2300 Turnhout",NaN,False,Flat,229000€ 229.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18051,2,https://www.realo.be/en/rue-jean-damard-37-416...,"Rue jean damard 37, 4163 Tavier, Anthisnes",clean value,"Rue jean damard 37, 4163 Tavier, Anthisnes",NaN,True,House,385000€ 385.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18052,2,https://www.realo.be/en/stationsstraat-29-2200...,"Stationsstraat 29 214, 2200 Herentals",clean value,"Stationsstraat 29 214, 2200 Herentals",NaN,False,Flat,170000€ 170.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18053,2,https://www.realo.be/en/gentse-steenweg-336-96...,"Gentse steenweg 336, 9620 Leeuwergem, Zottegem",clean value,"Gentse steenweg 336, 9620 Leeuwergem, Zottegem",NaN,True,House,339000€ 339.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18054,2,https://www.realo.be/en/nijverheidstraat-40-23...,"Nijverheidstraat 40, 2300 Turnhout",clean value,"Nijverheidstraat 40, 2300 Turnhout",NaN,True,House,210000€ 210.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18055,2,https://www.realo.be/en/hikstraat-48-2200-here...,"Hikstraat 48, 2200 Herentals",clean value,"Hikstraat 48, 2200 Herentals",NaN,True,House,269000€ 269.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18056,2,https://www.realo.be/en/anjelierstraat-65-9000...,"Anjelierstraat 65, 9000 Ghent, Gent",clean value,"Anjelierstraat 65, 9000 Ghent, Gent",NaN,False,Flat,204000€ 204.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18057,2,https://www.realo.be/en/oosterwijk-27-2260-ton...,"Oosterwijk 27, 2260 Tongerlo, Westerlo",clean value,"Oosterwijk 27, 2260 Tongerlo, Westerlo",NaN,True,House,170000€ 170.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18058,2,https://www.realo.be/en/belikstraat-113-3550-z...,"Belikstraat 113, 3550 Zolder, Heusden-Zolder",clean value,"Belikstraat 113, 3550 Zolder, Heusden-Zolder",NaN,True,House,279000€ 279.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18059,2,https://www.realo.be/en/vissersstraat-110-8380...,"Vissersstraat 110, 8380 Zeebrugge",clean value,"Vissersstraat 110, 8380 Zeebrugge",NaN,True,House,199000€ 199.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18060,2,https://www.realo.be/en/biddersstraat-27-8000-...,"Biddersstraat 27, 8000 Brugge",clean value,"Biddersstraat 27, 8000 Brugge",NaN,True,House,220000€ 220.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18061,2,https://www.realo.be/en/molenstraat-2c-9880-aa...,"Molenstraat 2C, 9880 Aalter",clean value,"Molenstraat 2C, 9880 Aalter",NaN,True,House,339000€ 339.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18062,2,https://www.realo.be/en/oostakker-40-2290-vors...,"Oostakker 40, 2290 Vorselaar",clean value,"Oostakker 40, 2290 Vorselaar",NaN,True,House,230000€ 230.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18063,2,https://www.realo.be/en/pieter-de-bruynestraat...,"Pieter De Bruynestraat 35, 9300 Aalst",clean value,"Pieter De Bruynestraat 35, 9300 Aalst",NaN,True,House,450000€ 450.000,NaN,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75845,1,https://www.immoweb.be/en/classified/penthouse...,Izegem,clean value,Izegem,8870,False,PENTHOUSE,225000.0,residential_sale,...,NaN,NaN,TRUE,20.0,NaN,NaN,NaN,2.0,NaN,NaN
75846,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,clean value,Anderlecht,1070,False,APARTMENT,250000.0,residential_sale,...,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
75847,1,https://www.immoweb.be/en/classified/apartment...,Merelbeke,clean value,Merelbeke,9820,False,APARTMENT,265000.0,residential_sale,...,NaN,NaN,TRUE,7.0,NaN,NaN,NaN,NaN,FALSE,NaN
75848,1,https://www.immoweb.be/en/classified/apartment...,Anderlecht,clean value,Anderlecht,1070,False,APARTMENT,350000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
75849,1,https://www.immoweb.be/en/classified/apartment...,Heusden,clean value,Heusden,9070,False,APARTMENT,435000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75850,1,https://www.immoweb.be/en/classified/apartment...,Brussel,clean value,Brussel,1000,False,APARTMENT,597500.0,residential_sale,...,True,NaN,TRUE,8.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75851,1,https://www.immoweb.be/en/classified/apartment...,Blankenberge,clean value,Blankenberge,8370,False,APARTMENT,95000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75852,1,https://www.immoweb.be/en/classified/apartment...,Poperinge,clean value,Poperinge,8970,False,APARTMENT,180000.0,residential_sale,...,False,NaN,TRUE,33.0,NaN,NaN,NaN,NaN,FALSE,NaN
75853,1,https://www.immoweb.be/en/classified/apartment...,Amay Ampsin,clean value,Amay Ampsin,4540,False,APARTMENT,159000.0,residential_sale,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75854,1,https://www.immoweb.be/en/classified/penthouse...,Watermael-Boitsfort,clean value,Watermael-Boitsfort,1170,False,PENTHOUSE,425000.0,residential_sale,...,False,NaN,TRUE,16.0,NaN,NaN,NaN,2.0,FALSE,NaN
75855,1,https://www.immoweb.be/en/classified/penthouse...,Uccle,clean value,Uccle,1180,False,PENTHOUSE,585500.0,residential_sale,...,NaN,NaN,TRUE,54.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75856,1,https://www.immoweb.be/en/classified/apartment...,Antwerp,clean value,Antwerp,2000,False,APARTMENT,690000.0,residential_sale,...,NaN,NaN,TRUE,15.0,NaN,70.0,NaN,2.0,NaN,AS_NEW
75857,1,https://www.immoweb.be/en/classified/apartment...,Evere,clean value,Evere,1140,False,APARTMENT,265000.0,residential_sale,...,True,NaN,TRUE,6.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
75858,1,https://www.immoweb.be/en/classified/apartment...,Evere,clean value,Evere,1140,False,APARTMENT,370000.0,residential_sale,...,True,NaN,TRUE,17.0,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75859,1,https://www.immoweb.be/en/classified/apartment...,Uccle,clean value,Uccle,1180,False,APARTMENT,495000.0,residential_sale,...,NaN,NaN,TRUE,12.0,NaN,NaN,NaN,NaN,FALSE,NaN
75860,1,https://www.immoweb.be/en/classified/ground-fl...,Auderghem,clean value,Auderghem,1160,False,GROUND_FLOOR,936000.0,residential_sale,...,False,NaN,TRUE,96.0,NaN,278.0,NaN,NaN,FALSE,AS_NEW
75861,1,https://www.immoweb.be/en/classified/apartment...,KNOKKE,clean value,KNOKKE,8300,False,APARTMENT,1295000.0,residential_sale,...,NaN,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75862,1,https://www.immoweb.be/en/classified/apartment...,Mons,clean value,Mons,7000,False,APARTMENT,149000.0,residential_sale,...,False,NaN,TRUE,18.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
75863,1,https://www.immoweb.be/en/classified/apartment...,Deinze,clean value,Deinze,9800,False,APARTMENT,247500.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75864,1,https://www.immoweb.be/en/classified/duplex/fo...,St-Pieters-Leeuw,clean value,St-Pieters-Leeuw,1600,False,DUPLEX,335000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75865,1,https://www.immoweb.be/en/classified/apartment...,NeufchÃteau Longlier,clean value,NeufchÃteau Longlier,6840,False,APARTMENT,180000.0,residential_sale,...,False,NaN,NaN,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75866,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,clean value,SINT-NIKLAAS,9100,False,APARTMENT,195000.0,residential_sale,...,NaN,NaN,TRUE,10.0,NaN,NaN,NaN,4.0,NaN,NaN
75867,1,https://www.immoweb.be/en/classified/apartment...,SINT-NIKLAAS,clean value,SINT-NIKLAAS,9100,False,APARTMENT,300000.0,residential_sale,...,NaN,NaN,TRUE,30.0,NaN,NaN,NaN,4.0,NaN,NaN
75869,1,https://www.immoweb.be/en/classified/flat-stud...,Anderlecht,clean value,Anderlecht,1070,False,FLAT_STUDIO,140000.0,residential_sale,...,False,NaN,TRUE,5.0,NaN,NaN,NaN,NaN,FALSE,NaN
75870,1,https://www.immoweb.be/en/classified/duplex/fo...,Lebbeke,clean value,Lebbeke,9280,False,DUPLEX,239000.0,residential_sale,...,NaN,NaN,TRUE,40.0,NaN,NaN,NaN,2.0,NaN,NaN
75871,1,https://www.immoweb.be/en/classified/penthouse...,Blankenberge,clean value,Blankenberge,8370,False,PENTHOUSE,339000.0,residential_sale,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,FALSE,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,Sint-Kruis,clean value,Sint-Kruis,8310,False,PENTHOUSE,649000.0,residential_sale,...,False,NaN,TRUE,28.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,Liège,clean value,Liège,4020,False,APARTMENT,25000.0,annuity_monthly_amount,...,NaN,NaN,TRUE,4.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,Huy,clean value,Huy,4500,False,APARTMENT,99000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,Verviers,clean value,Verviers,4800,False,APARTMENT,109000.0,residential_sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
#testing the type of the column before doing anything 
test_df = df 
for row in df['locality']: 
    print(type(row))
    if type(row) is str:
        print("string!")
    else: 
        print("not string")
    break;

<class 'str'>
string!

In [100]:
#trying to apply this in locality 
test_df = df.head(10000)
#WARNING I go >10k I have an issue
#TypeError: expected string or bytes-like object
if 'loc_clean' not in test_df.columns:
    test_df.insert(3, "loc_clean", "clean value")
if 'loc_dirty' not in test_df.columns:
    test_df.insert(4, "loc_dirty", "dirty value")
import re
pattern = re.compile("^\d{4}$")
row_number = -1
for row in test_df["locality"]: 
    row_number+=1
    search_result = pattern.search(row)
    if search_result is None: 
        test_df.at[row_number, 'loc_dirty'] = row
    else: 
        test_df.at[row_number, 'loc_clean'] = row
test_df

,source,hyperlink,locality,loc_clean,loc_dirty,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180,dirty value,4180,True,MIXED_USE_BUILDING,295000,NaN,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730,dirty value,8730,True,VILLA,675000,NaN,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020,dirty value,4020,True,APARTMENT_BLOCK,250000,NaN,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200,dirty value,1200,True,HOUSE,545000,NaN,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190,dirty value,1190,True,MIXED_USE_BUILDING,500000,NaN,...,False,False,0,True,60,193,193,0,False,AS_NEW
5,6,8940340,4040,4040,dirty value,4040,True,HOUSE,189000,NaN,...,False,False,0,True,40,100,11,0,False,TO_BE_DONE_UP
6,6,8923626,4540,4540,dirty value,4540,True,MIXED_USE_BUILDING,465000,NaN,...,False,False,0,False,0,312,312,0,False,GOOD
7,6,8913667,1150,1150,dirty value,1150,True,APARTMENT_BLOCK,650000,NaN,...,False,True,4,True,150,301,301,0,False,GOOD
8,6,8693767,6870,6870,dirty value,6870,True,MIXED_USE_BUILDING,89000,NaN,...,False,False,0,False,0,96,96,0,False,TO_RENOVATE
9,6,8325945,4030,4030,dirty value,4030,True,MIXED_USE_BUILDING,129000,NaN,...,False,False,0,False,0,71,71,0,False,TO_BE_DONE_UP
10,6,8627972,9600,9600,dirty value,9600,True,APARTMENT_BLOCK,389000,NaN,...,False,True,22,False,0,205,205,0,False,GOOD
11,6,8783402,1030,1030,dirty value,1030,True,APARTMENT_BLOCK,399000,NaN,...,False,True,10,False,0,195,30,0,False,TO_RESTORE
12,6,8734225,4500,4500,dirty value,4500,True,APARTMENT_BLOCK,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
13,6,8730846,4500,4500,dirty value,4500,True,EXCEPTIONAL_PROPERTY,425000,NaN,...,False,True,0,True,366,603,114,0,False,AS_NEW
14,6,8560612,1200,1200,dirty value,1200,True,APARTMENT_BLOCK,1750000,NaN,...,False,True,20,True,60,270,270,0,False,AS_NEW
15,6,8412149,3270,3270,dirty value,3270,True,APARTMENT_BLOCK,198000,NaN,...,False,False,0,False,0,119,119,0,False,TO_RENOVATE
16,6,8894232,6760,6760,dirty value,6760,True,APARTMENT_BLOCK,349000,NaN,...,False,False,0,False,0,63,63,0,False,TO_BE_DONE_UP
17,6,8928748,9290,9290,dirty value,9290,True,MIXED_USE_BUILDING,445000,NaN,...,False,True,16,False,0,200,200,0,False,GOOD
18,6,8860947,8000,8000,dirty value,8000,True,MANSION,659000,NaN,...,True,True,20,False,0,125,125,0,False,JUST_RENOVATED
19,6,8941858,1140,1140,dirty value,1140,True,APARTMENT_BLOCK,695000,NaN,...,False,False,0,False,0,350,350,0,False,TO_BE_DONE_UP
20,6,8916756,8000,8000,dirty value,8000,True,MANSION,795000,NaN,...,False,True,38,False,0,110,110,0,False,JUST_RENOVATED
21,6,8939722,6940,6940,dirty value,6940,True,EXCEPTIONAL_PROPERTY,845000,NaN,...,False,False,0,True,6500,7000,7000,0,False,GOOD
22,6,8597517,4671,4671,dirty value,4671,True,APARTMENT_BLOCK,225000,NaN,...,False,True,150,False,0,315,315,0,False,TO_BE_DONE_UP
23,6,8913670,4020,4020,dirty value,4020,True,APARTMENT_BLOCK,280000,NaN,...,False,False,0,True,55,120,49,0,False,TO_BE_DONE_UP
24,6,8309310,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,1395000,NaN,...,False,False,0,False,0,196,196,0,False,JUST_RENOVATED
25,6,8157990,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,2375000,NaN,...,False,True,0,False,0,183,183,0,False,JUST_RENOVATED
26,6,7701433,1000,1000,dirty value,1000,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
27,6,7701432,1070,1070,dirty value,1070,True,MIXED_USE_BUILDING,5000000,NaN,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
28,6,8866543,6030,6030,dirty value,6030,True,APARTMENT_BLOCK,275000,NaN,...,False,False,0,False,0,167,167,0,False,TO_BE_DONE_UP
29,6,8894789,1030,1030,dirty value,1030,True,APARTMENT_BLOCK,520000,NaN,...,False,True,15,True,65,147,147,0,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,6,8892198,1190,1190,dirty value,1190,False,APARTMENT,325000,NaN,...,False,False,0,False,0,0,100,0,False,GOOD
9971,6,8936007,1180,1180,dirty value,1180,False,PENTHOUSE,445000,NaN,...,False,True,20,False,0,0,130,0,False,TO_BE_DONE_UP
9972,6,8954652,1180,1180,dirty value,1180,False,PENTHOUSE,545000,NaN,...,False,True,10,False,0,0,145,0,False,AS_NEW
9973,6,8905903,3080,3080,dirty value,3080,False,DUPLEX,550000,NaN,...,False,True,27,True,81,0,4,0,False,JUST_RENOVATED
9974,6,8862386,8670,8670,dirty value,8670,False,APARTMENT,560000,NaN,...,False,True,16,False,0,0,86,0,False,GOOD
9975,6,8852625,1180,1180,dirty value,1180,False,APARTMENT,540000,NaN,...,False,True,0,False,0,0,200,0,False,GOOD
9976,6,8402440,6040,6040,dirty value,6040,False,APARTMENT,70000,NaN,...,False,False,0,False,0,0,45,0,False,GOOD
9977,6,8544171,1020,1020,dirty value,1020,False,FLAT_STUDIO,99000,NaN,...,False,True,2,False,0,0,4,0,False,TO_BE_DONE_UP
9978,6,8698585,8450,8450,dirty value,8450,False,APARTMENT,135000,NaN,...,False,True,0,False,0,0,45,0,False,TO_BE_DONE_UP
9979,6,8788842,3270,3270,dirty value,3270,False,APARTMENT,149500,NaN,...,False,False,0,False,0,0,34,0,False,JUST_RENOVATED
9980,6,8788841,3270,3270,dirty value,3270,False,APARTMENT,149500,NaN,...,False,False,0,False,0,0,38,0,False,JUST_RENOVATED
9981,6,8773865,6700,6700,dirty value,6700,False,APARTMENT,190000,NaN,...,False,True,3,False,0,0,85,0,False,GOOD
9982,6,8736281,4000,4000,dirty value,4000,False,APARTMENT,210000,NaN,...,False,True,11,False,0,0,82,0,False,GOOD
9983,6,8852624,1030,1030,dirty value,1030,False,APARTMENT,220000,NaN,...,False,False,0,False,0,0,80,0,False,TO_RENOVATE
9984,6,8860057,1853,1853,dirty value,1853,False,APARTMENT,260000,NaN,...,False,True,6,False,0,0,89,0,False,GOOD
9985,6,8916449,3000,3000,dirty value,3000,False,FLAT_STUDIO,265000,NaN,...,False,True,1,False,0,0,55,0,False,AS_NEW
9986,6,8911528,1160,1160,dirty value,1160,False,APARTMENT,295000,NaN,...,False,True,3,False,0,0,10,0,False,JUST_RENOVATED
9987,6,8844542,1180,1180,dirty value,1180,False,APARTMENT,295000,NaN,...,False,True,13,False,0,0,72,0,False,AS_NEW
9988,6,8844541,1180,1180,dirty value,1180,False,APARTMENT,385000,NaN,...,False,True,19,False,0,0,97,0,False,AS_NEW
9989,6,8776809,1180,1180,dirty value,1180,False,APARTMENT,390000,NaN,...,False,False,0,False,0,0,110,0,False,GOOD
9990,6,8132741,4000,4000,dirty value,4000,False,DUPLEX,395000,NaN,...,False,True,20,False,0,0,280,0,False,TO_BE_DONE_UP
9991,6,8920897,1180,1180,dirty value,1180,False,APARTMENT,400000,NaN,...,False,True,15,False,0,0,156,0,False,TO_BE_DONE_UP
9992,6,8639234,1000,1000,dirty value,1000,False,APARTMENT,440000,NaN,...,False,True,22,False,0,0,64,0,False,GOOD
9993,6,7216667,8300,8300,dirty value,8300,False,APARTMENT,470000,NaN,...,False,True,2,False,0,0,86,0,True,AS_NEW
9994,6,8853405,1180,1180,dirty value,1180,False,APARTMENT,580000,NaN,...,False,True,17,False,0,0,101,0,False,AS_NEW
9995,6,8784868,1050,1050,dirty value,1050,False,PENTHOUSE,645000,NaN,...,False,True,0,False,0,0,200,0,False,GOOD
9996,6,7524999,7500,7500,dirty value,7500,False,APARTMENT,680000,NaN,...,False,True,16,False,0,0,249,0,False,AS_NEW
9997,6,8844539,1180,1180,dirty value,1180,False,PENTHOUSE,685000,NaN,...,False,True,70,False,0,0,135,0,False,AS_NEW
9998,6,8551177,8660,8660,dirty value,8660,False,APARTMENT,119000,NaN,...,False,True,4,False,0,0,48,0,False,GOOD
9999,6,8937064,9620,9620,dirty value,9620,False,PENTHOUSE,325000,NaN,...,False,True,43,False,0,0,116,0,False,AS_NEW

In [21]:
#working on using the result of the test
import re
string = "blabla 4567"
pattern = re.compile("\d{4}")
test_match = pattern.match(string)
test_search = pattern.search(string)
print("match test")
print(test_match)
if test_match is None: 
    print("test match is None")
else: 
    print("match found")
print("search test")
print(test_search)
if test_search is None: 
    print("test search is None")
else: 
    print("result found")

match test
None
test match is None
search test
<_sre.SRE_Match object; span=(7, 11), match='4567'>
result found

In [20]:
#testing difference between search and match 
#see also: https://docs.python.org/3/library/re.html#search-vs-match
test_df = df 
import re
string = "blabla 4567"
pattern = re.compile("\d{4}")
test_match = pattern.match(string)
test_search = pattern.search(string)
print("match test")
print(test_match)
print("search test")
print(test_search)

match test
None
search test
<_sre.SRE_Match object; span=(7, 11), match='4567'>

In [16]:
#testing use of regex to filter data
test_df = df 
import re
string = "4569"
pattern = re.compile("^\d{4}$")
test_match = pattern.match(string)
test_search = pattern.search(string)
print(test_match)
print(test_search)

<_sre.SRE_Match object; span=(0, 4), match='4569'>
<_sre.SRE_Match object; span=(0, 4), match='4569'>