In [195]:
import pandas as pd

df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})

df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [199]:
counts = df.nunique()
counts

source                   6
hyperlink            46721
locality              5770
postcode              1029
house_is                 2
property_subtype       205
price                 7102
sale                    19
rooms_number            82
area                  3368
kitchen_has              2
furnished                2
open_fire                2
terrace                  6
terrace_area           185
garden                 145
garden_area            931
land_surface          2853
land_plot_surface     5890
facades_number          13
swimming_pool_has        5
building_state          17
dtype: int64

In [146]:
df['locality'] = pd.to_numeric(df['locality'], errors='coerce')
df['postcode'] = pd.to_numeric(df['postcode'], errors='coerce') 
df.dtypes

source                 int64
hyperlink             object
locality             float64
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number          object
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number        object
swimming_pool_has     object
building_state        object
dtype: object

In [147]:
df["locality"].fillna(df["postcode"], inplace=True)
df.loc[df['postcode']!=df['locality']]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
18034,2,https://www.realo.be/en/rue-rimiere-105-4120-r...,NaN,NaN,True,House,0,NaN,0,0,...,False,False,NaN,False,NaN,NaN,No,NaN,False,NaN
18035,2,https://www.realo.be/en/sint-truidensesteenweg...,NaN,NaN,True,House,340000â‚¬ 340.000,NaN,3,170m2,...,False,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18036,2,https://www.realo.be/en/augustijnenlaan-77-220...,NaN,NaN,False,Flat,259000â‚¬ 259.000,NaN,2,88m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18037,2,https://www.realo.be/en/averbodesesteenweg-19-...,NaN,NaN,True,House,449000â‚¬ 449.000,NaN,4,303m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18038,2,https://www.realo.be/en/edward-pynaertkaai-21-...,NaN,NaN,False,Flat,249900â‚¬ 249.900,NaN,3,102m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18039,2,https://www.realo.be/en/engelstraat-148-9040-s...,NaN,NaN,True,House,495000â‚¬ 495.000,NaN,3,244m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18040,2,https://www.realo.be/en/groenplein-33-9060-zel...,NaN,NaN,False,Flat,159000â‚¬ 159.000,NaN,2,244m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18041,2,https://www.realo.be/en/hoogveldstraat-21-3720...,NaN,NaN,False,Flat,219000â‚¬ 219.000,NaN,3,128m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18042,2,https://www.realo.be/en/eerste-meistraat-4-370...,NaN,NaN,False,Business,0,NaN,3,128m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18043,2,https://www.realo.be/en/roeselaarsestraat-84-8...,NaN,NaN,False,Flat,247000â‚¬ 247.000,NaN,2,125m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18044,2,https://www.realo.be/en/meikeverstraat-12-2250...,NaN,NaN,True,House,379000â‚¬ 379.000,NaN,4,220m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18045,2,https://www.realo.be/en/salvialaan-31-2260-oev...,NaN,NaN,True,House,265000â‚¬ 265.000,NaN,3,159m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18046,2,https://www.realo.be/en/ellestraat-26-8470-gis...,NaN,NaN,False,Flat,199000â‚¬ 199.000,NaN,2,159m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18047,2,https://www.realo.be/en/venneweg-11-2230-herse...,NaN,NaN,True,House,65000â‚¬ 65.000,NaN,1,41m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18048,2,https://www.realo.be/en/venneweg-9-2230-hersel...,NaN,NaN,True,House,55000â‚¬ 55.000,NaN,1,66m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18049,2,https://www.realo.be/en/leieweg-57-8510-marke/...,NaN,NaN,True,House,595000â‚¬ 595.000,NaN,4,282m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18050,2,https://www.realo.be/en/koningin-elisabethlei-...,NaN,NaN,False,Flat,229000â‚¬ 229.000,NaN,2,89m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18051,2,https://www.realo.be/en/rue-jean-damard-37-416...,NaN,NaN,True,House,385000â‚¬ 385.000,NaN,3,185m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18052,2,https://www.realo.be/en/stationsstraat-29-2200...,NaN,NaN,False,Flat,170000â‚¬ 170.000,NaN,1,51m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18053,2,https://www.realo.be/en/gentse-steenweg-336-96...,NaN,NaN,True,House,339000â‚¬ 339.000,NaN,3,176m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18054,2,https://www.realo.be/en/nijverheidstraat-40-23...,NaN,NaN,True,House,210000â‚¬ 210.000,NaN,3,150m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18055,2,https://www.realo.be/en/hikstraat-48-2200-here...,NaN,NaN,True,House,269000â‚¬ 269.000,NaN,4,179m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18056,2,https://www.realo.be/en/anjelierstraat-65-9000...,NaN,NaN,False,Flat,204000â‚¬ 204.000,NaN,2,179m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18057,2,https://www.realo.be/en/oosterwijk-27-2260-ton...,NaN,NaN,True,House,170000â‚¬ 170.000,NaN,2,100m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18058,2,https://www.realo.be/en/belikstraat-113-3550-z...,NaN,NaN,True,House,279000â‚¬ 279.000,NaN,3,256m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18059,2,https://www.realo.be/en/vissersstraat-110-8380...,NaN,NaN,True,House,199000â‚¬ 199.000,NaN,3,135m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18060,2,https://www.realo.be/en/biddersstraat-27-8000-...,NaN,NaN,True,House,220000â‚¬ 220.000,NaN,2,80m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18061,2,https://www.realo.be/en/molenstraat-2c-9880-aa...,NaN,NaN,True,House,339000â‚¬ 339.000,NaN,4,210m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18062,2,https://www.realo.be/en/oostakker-40-2290-vors...,NaN,NaN,True,House,230000â‚¬ 230.000,NaN,1,91m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
18063,2,https://www.realo.be/en/pieter-de-bruynestraat...,NaN,NaN,True,House,450000â‚¬ 450.000,NaN,4,222m2,...,True,False,NaN,True,NaN,NaN,Yes,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25416,2,NaN,NaN,NaN,False,Apartment,"1,199,700",Apartment,6,"2,604.87",...,False,NaN,None,False,0,None,"1,199,700",None,False,None
25417,2,NaN,NaN,NaN,False,2020,"1,395,000",Apartment,7,"2,497",...,False,NaN,None,False,0,None,"1,395,000",None,False,New
25418,2,NaN,NaN,NaN,False,Loft / Attic,"1,199,000",Apartment,5,"3,336.81",...,False,NaN,None,False,0,None,"1,199,000",None,True,None
25419,2,NaN,NaN,NaN,False,Apartment,"1,199,000",Apartment,8,"1,829.86",...,False,NaN,None,False,0,None,"1,199,000",None,False,None
25420,2,NaN,NaN,NaN,False,Apartment,"1,199,000",Apartment,6,"1,345.49",...,False,NaN,None,False,0,None,"1,199,000",None,False,None
25421,2,NaN,NaN,NaN,False,Apartment,"1,199,000",Apartment,6,"1,571.53",...,False,NaN,None,False,0,None,"1,199,000",None,False,None
25422,2,NaN,NaN,NaN,False,Duplex apartment,"1,198,700",Apartment,5,"1,399.31",...,False,NaN,None,False,0,None,"1,198,700",None,True,None
25423,2,NaN,NaN,NaN,False,Loft / Attic,"1,290,000",Apartment,5,"1,399.31",...,False,NaN,None,True,1,None,"1,290,000",None,False,None
25424,2,NaN,NaN,NaN,False,2002,"1,395,000",Apartment,7,"2,794",...,False,NaN,None,False,0,None,"1,395,000",None,False,New
25425,2,NaN,NaN,NaN,False,Apartment,"1,290,000",Apartment,8,"1,765.28",...,False,NaN,None,False,0,None,"1,290,000",None,False,None
25426,2,NaN,NaN,NaN,False,Apartment,"1,290,000",Apartment,4,"1,431.6",...,False,NaN,None,False,0,None,"1,290,000",None,False,None
25427,2,NaN,NaN,NaN,False,3,38,Apartamento,6,"3,702.79",...,False,NaN,None,False,0,None,"4,348.62",None,False,None
25428,2,NaN,NaN,NaN,False,Apartment,"1,198,000",Apartment,5,"2,109.73",...,False,NaN,None,False,0,None,"1,198,000",None,False,None
25429,2,NaN,NaN,NaN,False,Apartment,"1,198,000",Apartment,9,"2,475.7",...,False,NaN,None,False,0,None,"1,198,000",None,True,None
25430,2,NaN,NaN,NaN,False,Apartment,"1,290,000",Apartment,4,"1,194.79",...,False,NaN,None,False,0,None,"1,290,000",None,False,None
25431,2,NaN,NaN,NaN,False,1995,"10,800,000",Apartment,0,543,...,False,NaN,None,False,0,None,"10,800,000",None,False,old
25432,2,NaN,NaN,NaN,False,2017,"10,800,000",Apartment,5,821,...,False,NaN,None,True,1,None,"10,800,000",None,False,New
25433,2,NaN,NaN,NaN,False,1,"10,800,000",Apartment,2,531,...,False,NaN,None,False,0,None,"10,800,000",None,False,old
25434,2,NaN,NaN,NaN,False,2,"10,800,000",Apartment,3,504,...,False,NaN,None,False,0,None,"10,800,000",None,False,old
25435,2,NaN,NaN,NaN,False,4,"4,986,512,000",Apartamento,9,"3,807.84",...,False,NaN,None,False,0,None,"4,986,512,000",None,False,None
25436,2,NaN,NaN,NaN,False,4,"37,5",Apartamento,8,"4,165.63",...,False,NaN,None,False,0,None,"37,5",None,False,None
25437,2,NaN,NaN,NaN,False,2017,"1,395,000",Apartment,7,"1,978",...,False,NaN,None,False,0,None,"1,977.62",None,False,New
25438,2,NaN,NaN,NaN,False,Appartement,"1,195,000",Appartement,4,"3390,63",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25439,2,NaN,NaN,NaN,False,Apartment,"1,195,000",Apartment,10,"2,421.88",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25440,2,NaN,NaN,NaN,False,Apartment,"1,195,000",Apartment,9,"2,690.98",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25441,2,NaN,NaN,NaN,False,Apartment,"1,195,000",Apartment,6,"2,249.33",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25442,2,NaN,NaN,NaN,False,Wohnung,"1,195,000",Wohnung,9,"2690,98",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25443,2,NaN,NaN,NaN,False,Apartment,"1,195,000",Apartment,3,"1,453.13",...,False,NaN,None,False,0,None,"1,195,000",None,False,None
25444,2,NaN,NaN,NaN,False,Apartment,"1,195,000",Apartment,5,"1,388.54",...,False,NaN,None,False,0,None,"1,195,000",None,True,None
25445,2,NaN,NaN,NaN,False,Loft / Attic,"1,195,000",Apartment,10,"1,905.21",...,False,NaN,None,True,1,None,"1,195,000",None,True,None

In [148]:
df.loc[(pd.isnull(df['postcode'])==False) & (df['locality'].isnull())]
df.loc[(pd.isnull(df['locality'])==False) & (df['postcode'].isnull())]

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state]
Index: []

[0 rows x 22 columns]

In [149]:
df = df.loc[(pd.isnull(df['postcode'])==False) & (pd.isnull(df['locality'])==False)]
df

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180.0,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730.0,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020.0,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200.0,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190.0,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
5,6,8940340,4040.0,4040.0,True,HOUSE,189000,NaN,3,200,...,False,False,0,True,40,100,11,0,False,TO_BE_DONE_UP
6,6,8923626,4540.0,4540.0,True,MIXED_USE_BUILDING,465000,NaN,4,400,...,False,False,0,False,0,312,312,0,False,GOOD
7,6,8913667,1150.0,1150.0,True,APARTMENT_BLOCK,650000,NaN,4,200,...,False,True,4,True,150,301,301,0,False,GOOD
8,6,8693767,6870.0,6870.0,True,MIXED_USE_BUILDING,89000,NaN,3,180,...,False,False,0,False,0,96,96,0,False,TO_RENOVATE
9,6,8325945,4030.0,4030.0,True,MIXED_USE_BUILDING,129000,NaN,3,156,...,False,False,0,False,0,71,71,0,False,TO_BE_DONE_UP
10,6,8627972,9600.0,9600.0,True,APARTMENT_BLOCK,389000,NaN,6,255,...,False,True,22,False,0,205,205,0,False,GOOD
11,6,8783402,1030.0,1030.0,True,APARTMENT_BLOCK,399000,NaN,3,137,...,False,True,10,False,0,195,30,0,False,TO_RESTORE
12,6,8734225,4500.0,4500.0,True,APARTMENT_BLOCK,425000,NaN,5,400,...,False,True,0,True,366,603,114,0,False,AS_NEW
13,6,8730846,4500.0,4500.0,True,EXCEPTIONAL_PROPERTY,425000,NaN,5,400,...,False,True,0,True,366,603,114,0,False,AS_NEW
14,6,8560612,1200.0,1200.0,True,APARTMENT_BLOCK,1750000,NaN,7,550,...,False,True,20,True,60,270,270,0,False,AS_NEW
15,6,8412149,3270.0,3270.0,True,APARTMENT_BLOCK,198000,NaN,3,210,...,False,False,0,False,0,119,119,0,False,TO_RENOVATE
16,6,8894232,6760.0,6760.0,True,APARTMENT_BLOCK,349000,NaN,1,118,...,False,False,0,False,0,63,63,0,False,TO_BE_DONE_UP
17,6,8928748,9290.0,9290.0,True,MIXED_USE_BUILDING,445000,NaN,4,307,...,False,True,16,False,0,200,200,0,False,GOOD
18,6,8860947,8000.0,8000.0,True,MANSION,659000,NaN,3,232,...,True,True,20,False,0,125,125,0,False,JUST_RENOVATED
19,6,8941858,1140.0,1140.0,True,APARTMENT_BLOCK,695000,NaN,7,257,...,False,False,0,False,0,350,350,0,False,TO_BE_DONE_UP
20,6,8916756,8000.0,8000.0,True,MANSION,795000,NaN,5,265,...,False,True,38,False,0,110,110,0,False,JUST_RENOVATED
21,6,8939722,6940.0,6940.0,True,EXCEPTIONAL_PROPERTY,845000,NaN,7,340,...,False,False,0,True,6500,7000,7000,0,False,GOOD
22,6,8597517,4671.0,4671.0,True,APARTMENT_BLOCK,225000,NaN,4,270,...,False,True,150,False,0,315,315,0,False,TO_BE_DONE_UP
23,6,8913670,4020.0,4020.0,True,APARTMENT_BLOCK,280000,NaN,8,180,...,False,False,0,True,55,120,49,0,False,TO_BE_DONE_UP
24,6,8309310,1000.0,1000.0,True,MIXED_USE_BUILDING,1395000,NaN,3,568,...,False,False,0,False,0,196,196,0,False,JUST_RENOVATED
25,6,8157990,1000.0,1000.0,True,MIXED_USE_BUILDING,2375000,NaN,10,927,...,False,True,0,False,0,183,183,0,False,JUST_RENOVATED
26,6,7701433,1000.0,1000.0,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
27,6,7701432,1070.0,1070.0,True,MIXED_USE_BUILDING,5000000,NaN,41,2049,...,False,True,70,True,198,1988,1988,0,False,AS_NEW
28,6,8866543,6030.0,6030.0,True,APARTMENT_BLOCK,275000,NaN,3,205,...,False,False,0,False,0,167,167,0,False,TO_BE_DONE_UP
29,6,8894789,1030.0,1030.0,True,APARTMENT_BLOCK,520000,NaN,8,360,...,False,True,15,True,65,147,147,0,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93038,3,NaN,3000.0,3000.0,False,NaN,265000â‚¬,NaN,2,94 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93039,3,NaN,4000.0,4000.0,False,NaN,320000â‚¬,NaN,2,145 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93040,3,NaN,2060.0,2060.0,False,NaN,169900â‚¬,NaN,1,64 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Just renovated
93041,3,NaN,2170.0,2170.0,False,NaN,156000â‚¬,NaN,2,90 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93042,3,NaN,8480.0,8480.0,False,NaN,169000â‚¬,NaN,2,117 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93043,3,NaN,8480.0,8480.0,False,NaN,130000â‚¬,NaN,2,117 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93044,3,NaN,8820.0,8820.0,False,NaN,174000â‚¬,NaN,1,72 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93045,3,NaN,3300.0,3300.0,False,NaN,449000â‚¬,NaN,2,116 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93046,3,NaN,9080.0,9080.0,False,NaN,399000â‚¬,NaN,2,145 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93047,3,NaN,9500.0,9500.0,False,NaN,169000â‚¬,NaN,1,80 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93048,3,NaN,8370.0,8370.0,False,NaN,89500â‚¬,NaN,2,Not specified,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93049,3,NaN,8400.0,8400.0,False,NaN,219000â‚¬,NaN,2,Not specified,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93050,3,NaN,8570.0,8570.0,False,NaN,259500â‚¬,NaN,2,100 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93051,3,NaN,1140.0,1140.0,False,NaN,298000â‚¬,NaN,2,97 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93052,3,NaN,6790.0,6790.0,False,NaN,210000â‚¬,NaN,3,85 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified
93053,3,NaN,3700.0,3700.0,False,NaN,125000â‚¬,NaN,2,90 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93054,3,NaN,6560.0,6560.0,False,NaN,135000â‚¬,NaN,2,190 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93055,3,NaN,2140.0,2140.0,False,NaN,155000â‚¬,NaN,1,50 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93056,3,NaN,1050.0,1050.0,False,NaN,575000â‚¬,NaN,2,109 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,3,0,As new
93057,3,NaN,1050.0,1050.0,False,NaN,449000â‚¬,NaN,2,120 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To be done up
93058,3,NaN,2018.0,2018.0,False,NaN,420000â‚¬,NaN,3,150 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93059,3,NaN,2000.0,2000.0,False,NaN,285000â‚¬,NaN,1,80 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93060,3,NaN,3090.0,3090.0,False,NaN,295000â‚¬,NaN,1,60 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93061,3,NaN,1160.0,1160.0,False,NaN,380000â‚¬,NaN,2,87 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93062,3,NaN,4020.0,4020.0,False,NaN,137000â‚¬,NaN,1,60 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Good
93063,3,NaN,2650.0,2650.0,False,NaN,210000â‚¬,NaN,2,100 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93064,3,NaN,3700.0,3700.0,False,NaN,239000â‚¬,NaN,1,78 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93065,3,NaN,3800.0,3800.0,False,NaN,259000â‚¬,NaN,2,90 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93066,3,NaN,2610.0,2610.0,False,NaN,254000â‚¬,NaN,2,88 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93067,3,NaN,9840.0,9840.0,False,NaN,359000â‚¬,NaN,2,140 mÂ²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified

In [150]:
subtype = df['property_subtype'].unique()
subtype

array(['MIXED_USE_BUILDING', 'VILLA', 'APARTMENT_BLOCK', 'HOUSE',
       'EXCEPTIONAL_PROPERTY', 'MANSION', 'TOWN_HOUSE', 'COUNTRY_COTTAGE',
       'MANOR_HOUSE', 'OTHER_PROPERTY', 'FARMHOUSE', 'CASTLE',
       'APARTMENT', 'BUNGALOW', 'CHALET', 'PENTHOUSE', 'SERVICE_FLAT',
       'LOFT', 'DUPLEX', 'FLAT_STUDIO', 'GROUND_FLOOR', 'TRIPLEX', 'KOT',
       'house', 'mansion', 'villa', 'exceptional-property',
       'apartment-block', 'town-house', 'apartment', 'penthouse',
       'ground-floor', 'loft', 'flat-studio', 'duplex', 'triplex',
       'mixed-use-building', 'farmhouse', 'bungalow', 'service-flat',
       'country-cottage', 'other-property', 'kot', 'manor-house',
       'chalet', 'castle', 'HOUSE_GROUP', 'APARTMENT_GROUP', 'House',
       'Town-house', 'Apartment', nan], dtype=object)

In [151]:
counts = df.nunique()
counts

source                   5
hyperlink            46264
locality              1029
postcode              1029
house_is                 2
property_subtype        51
price                 5835
sale                    11
rooms_number            81
area                  1746
kitchen_has              2
furnished                2
open_fire                2
terrace                  6
terrace_area           185
garden                 145
garden_area            931
land_surface          2853
land_plot_surface     4565
facades_number          13
swimming_pool_has        5
building_state          14
dtype: int64

In [152]:
df['property_subtype']=df['property_subtype'].str.upper()
df['property_subtype'] = df['property_subtype'].str.replace('-','_')

In [153]:
counts = df.nunique()
counts

source                   5
hyperlink            46264
locality              1029
postcode              1029
house_is                 2
property_subtype        25
price                 5835
sale                    11
rooms_number            81
area                  1746
kitchen_has              2
furnished                2
open_fire                2
terrace                  6
terrace_area           185
garden                 145
garden_area            931
land_surface          2853
land_plot_surface     4565
facades_number          13
swimming_pool_has        5
building_state          14
dtype: int64

In [154]:
rooms_number = df['rooms_number'].unique()
rooms_number

array(['3', '4', '5', '2', '6', '7', '1', '8', '10', '41', '0', '11',
       '15', '44', '9', '12', '14', '19', '13', '24', '18', '34', '17',
       '16', '100', '49', '32', '71', '50', '20', '35', '99', '28', '25',
       '30', '65', '22', '23', '21', '26', '36', '70', '46', '90', '80',
       '40', '60', '204', 'None', nan, '6.0', '3.0', '5.0', '4.0', '2.0',
       '7.0', '8.0', '1.0', '11.0', '10.0', '41.0', '12.0', '0.0', '9.0',
       '15.0', '44.0', '13.0', '14.0', '18.0', '60.0', '20.0', '19.0',
       '22.0', '24.0', '25.0', '34.0', '17.0', '16.0', '100.0', '165.0',
       '49.0', 'Not specified'], dtype=object)

In [155]:
df['rooms_number'] = df['rooms_number'].str.replace('None','')
df['rooms_number'] = df['rooms_number'].str.replace('Not specified','')
df['rooms_number'] = df['rooms_number'].str.replace('nan','')

In [156]:
rooms_number = df['rooms_number'].unique()
rooms_number

array(['3', '4', '5', '2', '6', '7', '1', '8', '10', '41', '0', '11',
       '15', '44', '9', '12', '14', '19', '13', '24', '18', '34', '17',
       '16', '100', '49', '32', '71', '50', '20', '35', '99', '28', '25',
       '30', '65', '22', '23', '21', '26', '36', '70', '46', '90', '80',
       '40', '60', '204', '', nan, '6.0', '3.0', '5.0', '4.0', '2.0',
       '7.0', '8.0', '1.0', '11.0', '10.0', '41.0', '12.0', '0.0', '9.0',
       '15.0', '44.0', '13.0', '14.0', '18.0', '60.0', '20.0', '19.0',
       '22.0', '24.0', '25.0', '34.0', '17.0', '16.0', '100.0', '165.0',
       '49.0'], dtype=object)

In [157]:
df['rooms_number'] = pd.to_numeric(df['rooms_number'], errors='coerce').astype('Int64')

In [158]:
rooms_number = df['rooms_number'].unique()
rooms_number

<IntegerArray>
[  3,   4,   5,   2,   6,   7,   1,   8,  10,  41,   0,  11,  15,  44,   9,
  12,  14,  19,  13,  24,  18,  34,  17,  16, 100,  49,  32,  71,  50,  20,
  35,  99,  28,  25,  30,  65,  22,  23,  21,  26,  36,  70,  46,  90,  80,
  40,  60, 204, NaN, 165]
Length: 50, dtype: Int64

In [159]:
terrace = df['terrace'].unique()
terrace

array(['True', 'False', nan, 'TRUE', '2.0', '3.0', '4.0'], dtype=object)

In [160]:
df.loc[(df['terrace']=='2.0')|(df['terrace']=='3.0')|(df['terrace']=='4.0')]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
64895,1,https://www.immoweb.be/en/classified/house/for...,1180.0,1180.0,True,HOUSE,2950000.0,residential_sale,5,600.0,...,False,2.0,TRUE,30.0,NaN,20000.0,20000.0,4.0,NaN,AS_NEW
65274,1,https://www.immoweb.be/en/classified/exception...,8000.0,8000.0,True,EXCEPTIONAL_PROPERTY,2399000.0,residential_sale,5,400.0,...,False,2.0,TRUE,100.0,NaN,100.0,334.0,4.0,FALSE,AS_NEW
65347,1,https://www.immoweb.be/en/classified/house/for...,1933.0,1933.0,True,HOUSE,549900.0,residential_sale,3,209.0,...,NaN,2.0,NaN,NaN,NaN,150.0,380.0,4.0,NaN,NaN
65535,1,https://www.immoweb.be/en/classified/house/for...,6240.0,6240.0,True,HOUSE,250000.0,residential_sale,3,175.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1074.0,3.0,NaN,NaN
65605,1,https://www.immoweb.be/en/classified/villa/for...,9840.0,9840.0,True,VILLA,735000.0,residential_sale,5,612.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1371.0,4.0,NaN,NaN
65611,1,https://www.immoweb.be/en/classified/mansion/f...,9220.0,9220.0,True,MANSION,999000.0,residential_sale,7,528.0,...,NaN,2.0,NaN,NaN,NaN,579.0,738.0,2.0,NaN,NaN
65711,1,https://www.immoweb.be/en/classified/villa/for...,1410.0,1410.0,True,VILLA,675000.0,residential_sale,5,234.0,...,False,2.0,TRUE,60.0,NaN,NaN,1425.0,4.0,NaN,NaN
65713,1,https://www.immoweb.be/en/classified/villa/for...,1500.0,1500.0,True,VILLA,790000.0,residential_sale,7,578.0,...,NaN,3.0,TRUE,20.0,NaN,2300.0,2657.0,4.0,NaN,NaN
65750,1,https://www.immoweb.be/en/classified/villa/for...,7180.0,7180.0,True,VILLA,285000.0,residential_sale,2,138.0,...,NaN,2.0,TRUE,12.0,NaN,300.0,419.0,4.0,TRUE,AS_NEW
66111,1,https://www.immoweb.be/en/classified/villa/for...,9500.0,9500.0,True,VILLA,590000.0,residential_sale,4,377.0,...,True,2.0,TRUE,54.0,NaN,1132.0,1781.0,4.0,NaN,AS_NEW
66154,1,https://www.immoweb.be/en/classified/house/for...,8800.0,8800.0,True,HOUSE,459000.0,residential_sale,3,390.0,...,NaN,2.0,TRUE,125.0,NaN,125.0,155.0,3.0,NaN,NaN
66157,1,https://www.immoweb.be/en/classified/mansion/f...,8000.0,8000.0,True,MANSION,535000.0,residential_sale,5,260.0,...,False,2.0,TRUE,NaN,NaN,NaN,130.0,2.0,NaN,NaN
66189,1,https://www.immoweb.be/en/classified/exception...,4870.0,4870.0,True,EXCEPTIONAL_PROPERTY,398900.0,residential_sale,5,350.0,...,NaN,2.0,NaN,NaN,NaN,NaN,700.0,3.0,NaN,NaN
66192,1,https://www.immoweb.be/en/classified/villa/for...,9260.0,9260.0,True,VILLA,1245000.0,residential_sale,4,550.0,...,False,3.0,TRUE,NaN,NaN,NaN,5400.0,4.0,NaN,AS_NEW
66278,1,https://www.immoweb.be/en/classified/country-c...,4520.0,4520.0,True,COUNTRY_COTTAGE,225000.0,residential_sale,3,181.0,...,NaN,2.0,NaN,NaN,NaN,1950.0,2060.0,3.0,NaN,NaN
66401,1,https://www.immoweb.be/en/classified/mansion/f...,2500.0,2500.0,True,MANSION,279000.0,residential_sale,3,160.0,...,NaN,3.0,TRUE,15.0,NaN,18.0,110.0,2.0,NaN,NaN
66409,1,https://www.immoweb.be/en/classified/villa/for...,1981.0,1981.0,True,VILLA,749000.0,residential_sale,4,340.0,...,NaN,2.0,TRUE,80.0,NaN,1250.0,1680.0,4.0,NaN,AS_NEW
66468,1,https://www.immoweb.be/en/classified/house/for...,4987.0,4987.0,True,HOUSE,305000.0,residential_sale,6,250.0,...,NaN,2.0,TRUE,24.0,NaN,1000.0,1117.0,3.0,NaN,NaN
66472,1,https://www.immoweb.be/en/classified/house/for...,5660.0,5660.0,True,HOUSE,350000.0,residential_sale,4,279.0,...,False,3.0,TRUE,50.0,NaN,10500.0,10800.0,4.0,NaN,NaN
66549,1,https://www.immoweb.be/en/classified/mansion/f...,8000.0,8000.0,True,MANSION,679000.0,residential_sale,5,243.0,...,False,2.0,TRUE,35.0,NaN,30.0,114.0,2.0,FALSE,AS_NEW
66553,1,https://www.immoweb.be/en/classified/villa/for...,3370.0,3370.0,True,VILLA,895000.0,residential_sale,5,272.0,...,False,2.0,NaN,NaN,NaN,NaN,2038.0,4.0,NaN,AS_NEW
66575,1,https://www.immoweb.be/en/classified/villa/for...,1410.0,1410.0,True,VILLA,845000.0,residential_sale,4,258.0,...,False,2.0,TRUE,62.0,NaN,NaN,963.0,4.0,NaN,NaN
66755,1,https://www.immoweb.be/en/classified/villa/for...,2520.0,2520.0,True,VILLA,765000.0,residential_sale,4,302.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1639.0,4.0,TRUE,AS_NEW
66933,1,https://www.immoweb.be/en/classified/manor-hou...,2820.0,2820.0,True,MANOR_HOUSE,1095000.0,residential_sale,4,426.0,...,False,2.0,TRUE,30.0,NaN,8000.0,12200.0,4.0,NaN,AS_NEW
67077,1,https://www.immoweb.be/en/classified/house/for...,1030.0,1030.0,True,HOUSE,881000.0,residential_sale,5,290.0,...,False,2.0,TRUE,16.0,NaN,220.0,320.0,3.0,NaN,NaN
67351,1,https://www.immoweb.be/en/classified/house/for...,4620.0,4620.0,True,HOUSE,270000.0,first_session_with_reserve_price,8,303.0,...,NaN,3.0,NaN,NaN,NaN,NaN,718.0,3.0,NaN,NaN
67401,1,https://www.immoweb.be/en/classified/house/for...,1410.0,1410.0,True,HOUSE,495000.0,residential_sale,3,220.0,...,NaN,2.0,TRUE,30.0,NaN,NaN,510.0,4.0,NaN,NaN
67488,1,https://www.immoweb.be/en/classified/villa/for...,1495.0,1495.0,True,VILLA,850000.0,residential_sale,8,700.0,...,False,2.0,TRUE,120.0,NaN,1400.0,2200.0,4.0,TRUE,AS_NEW
67726,1,https://www.immoweb.be/en/classified/house/for...,4870.0,4870.0,True,HOUSE,300000.0,residential_sale,5,330.0,...,NaN,2.0,TRUE,50.0,NaN,NaN,1867.0,2.0,NaN,NaN
67767,1,https://www.immoweb.be/en/classified/villa/for...,1180.0,1180.0,True,VILLA,1275000.0,residential_sale,6,330.0,...,False,2.0,TRUE,60.0,NaN,1400.0,1560.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68150,1,https://www.immoweb.be/en/classified/house/for...,9100.0,9100.0,True,HOUSE,675000.0,residential_sale,9,360.0,...,NaN,2.0,TRUE,NaN,NaN,NaN,320.0,3.0,NaN,NaN
68151,1,https://www.immoweb.be/en/classified/exception...,4990.0,4990.0,True,EXCEPTIONAL_PROPERTY,695000.0,residential_sale,6,350.0,...,NaN,2.0,TRUE,60.0,NaN,NaN,7000.0,4.0,NaN,AS_NEW
68284,1,https://www.immoweb.be/en/classified/house/for...,1380.0,1380.0,True,HOUSE,360000.0,residential_sale,3,140.0,...,NaN,2.0,TRUE,40.0,NaN,400.0,400.0,4.0,NaN,NaN
68326,1,https://www.immoweb.be/en/classified/house/for...,1200.0,1200.0,True,HOUSE,2650000.0,residential_sale,7,550.0,...,False,2.0,TRUE,NaN,NaN,NaN,8800.0,2.0,NaN,AS_NEW
68602,1,https://www.immoweb.be/en/classified/house/for...,7130.0,7130.0,True,HOUSE,250000.0,residential_sale,3,406.0,...,NaN,2.0,TRUE,NaN,NaN,100.0,270.0,2.0,NaN,NaN
68690,1,https://www.immoweb.be/en/classified/house/for...,2018.0,2018.0,True,HOUSE,665000.0,residential_sale,6,285.0,...,False,2.0,NaN,NaN,NaN,30.0,128.0,2.0,FALSE,AS_NEW
68691,1,https://www.immoweb.be/en/classified/house/for...,2600.0,2600.0,True,HOUSE,665000.0,residential_sale,6,285.0,...,False,2.0,NaN,NaN,NaN,30.0,128.0,2.0,FALSE,AS_NEW
68719,1,https://www.immoweb.be/en/classified/manor-hou...,8380.0,8380.0,True,MANOR_HOUSE,1650000.0,residential_sale,3,550.0,...,NaN,4.0,NaN,NaN,NaN,NaN,16666.0,NaN,FALSE,NaN
69452,1,https://www.immoweb.be/en/classified/house/for...,6987.0,6987.0,True,HOUSE,1550000.0,residential_sale,9,930.0,...,False,2.0,NaN,NaN,NaN,NaN,3062.0,4.0,TRUE,AS_NEW
69536,1,https://www.immoweb.be/en/classified/villa/for...,1495.0,1495.0,True,VILLA,745000.0,residential_sale,5,450.0,...,False,2.0,NaN,NaN,NaN,NaN,1436.0,4.0,NaN,AS_NEW
70012,1,https://www.immoweb.be/en/classified/house/for...,6890.0,6890.0,True,HOUSE,835000.0,residential_sale,7,750.0,...,True,2.0,TRUE,20.0,NaN,2000.0,2500.0,4.0,NaN,NaN
70855,1,https://www.immoweb.be/en/classified/house/for...,6700.0,6700.0,True,HOUSE,390000.0,residential_sale,3,250.0,...,NaN,2.0,TRUE,25.0,NaN,NaN,643.0,3.0,NaN,NaN
70869,1,https://www.immoweb.be/en/classified/country-c...,9660.0,9660.0,True,COUNTRY_COTTAGE,580000.0,residential_sale,5,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,5290.0,4.0,NaN,NaN
71093,1,https://www.immoweb.be/en/classified/house/for...,5030.0,5030.0,True,HOUSE,599000.0,residential_sale,4,300.0,...,NaN,2.0,TRUE,NaN,NaN,3630.0,3630.0,4.0,NaN,NaN
71267,1,https://www.immoweb.be/en/classified/manor-hou...,1547.0,1547.0,True,MANOR_HOUSE,1590000.0,residential_sale,8,750.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN
71272,1,https://www.immoweb.be/en/classified/villa/for...,8300.0,8300.0,True,VILLA,2485000.0,residential_sale,4,270.0,...,False,2.0,TRUE,NaN,NaN,NaN,256.0,NaN,TRUE,AS_NEW
71303,1,https://www.immoweb.be/en/classified/house/for...,6941.0,6941.0,True,HOUSE,545000.0,residential_sale,24,980.0,...,False,2.0,NaN,NaN,NaN,NaN,5845.0,4.0,FALSE,NaN
71722,1,https://www.immoweb.be/en/classified/castle/fo...,4910.0,4910.0,True,CASTLE,2100000.0,residential_sale,25,1200.0,...,NaN,3.0,NaN,NaN,NaN,NaN,15000.0,4.0,NaN,NaN
71905,1,https://www.immoweb.be/en/classified/mansion/f...,9240.0,9240.0,True,MANSION,790000.0,residential_sale,5,685.0,...,False,2.0,NaN,NaN,NaN,460.0,715.0,NaN,TRUE,NaN
71973,1,https://www.immoweb.be/en/classified/house/for...,3670.0,3670.0,True,HOUSE,345000.0,residential_sale,4,245.0,...,False,2.0,NaN,NaN,NaN,NaN,2025.0,4.0,FALSE,NaN
72002,1,https://www.immoweb.be/en/classified/villa/for...,9120.0,9120.0,True,VILLA,855000.0,residential_sale,5,488.0,...,False,2.0,NaN,NaN,NaN,2600.0,2694.0,4.0,FALSE,AS_NEW
72005,1,https://www.immoweb.be/en/classified/mansion/f...,2000.0,2000.0,True,MANSION,1495000.0,residential_sale,6,350.0,...,False,3.0,NaN,NaN,NaN,82.0,208.0,2.0,FALSE,AS_NEW
72199,1,https://www.immoweb.be/en/classified/country-c...,8210.0,8210.0,True,COUNTRY_COTTAGE,749000.0,residential_sale,4,429.0,...,False,2.0,NaN,NaN,NaN,NaN,6836.0,NaN,FALSE,AS_NEW
72207,1,https://www.immoweb.be/en/classified/manor-hou...,8340.0,8340.0,True,MANOR_HOUSE,895000.0,residential_sale,5,310.0,...,False,2.0,NaN,NaN,NaN,NaN,1599.0,NaN,FALSE,NaN
72619,1,https://www.immoweb.be/en/classified/manor-hou...,9940.0,9940.0,True,MANOR_HOUSE,1950000.0,residential_sale,9,460.0,...,False,2.0,NaN,NaN,NaN,NaN,16000.0,NaN,FALSE,AS_NEW
73422,1,https://www.immoweb.be/en/classified/house/for...,3770.0,3770.0,True,HOUSE,135000.0,residential_sale,3,134.0,...,False,2.0,NaN,NaN,NaN,NaN,535.0,3.0,FALSE,NaN
74343,1,https://www.immoweb.be/en/classified/manor-hou...,8340.0,8340.0,True,MANOR_HOUSE,1595000.0,residential_sale,7,497.0,...,False,2.0,NaN,NaN,NaN,NaN,60000.0,NaN,FALSE,AS_NEW
74488,1,https://www.immoweb.be/en/classified/mansion/f...,8000.0,8000.0,True,MANSION,1385000.0,residential_sale,5,405.0,...,False,3.0,NaN,NaN,NaN,NaN,307.0,NaN,TRUE,AS_NEW
74764,1,https://www.immoweb.be/en/classified/exception...,4987.0,4987.0,True,EXCEPTIONAL_PROPERTY,12345678.0,residential_sale,5,300.0,...,NaN,2.0,TRUE,80.0,NaN,1800.0,1950.0,3.0,NaN,NaN
75501,1,https://www.immoweb.be/en/classified/apartment...,1000.0,1000.0,False,APARTMENT,1150000.0,residential_sale,4,260.0,...,False,2.0,TRUE,11.0,NaN,NaN,NaN,2.0,NaN,AS_NEW

In [161]:
df['terrace'] = df['terrace'].str.replace('TRUE','True')

In [162]:
import numpy as np
df.loc[df['terrace'] == '4.0','terrace'] = np.nan
df.loc[df['terrace'] == '3.0','terrace'] = np.nan
df.loc[df['terrace'] == '2.0','terrace'] = np.nan

In [163]:
terrace = df['open_fire'].unique()
terrace

array([False, True, nan], dtype=object)

In [164]:
df['terrace'].astype(str).replace({'(?i)True|TBC': True, '(?i)False|nan': False}, regex=True)

0         True
1        False
2        False
3        False
4        False
         ...
93063    False
93064    False
93065    False
93066    False
93067    False
Name: terrace, Length: 85656, dtype: bool

In [165]:
counts = df.nunique()
counts
#does not count nan?

source                   5
hyperlink            46264
locality              1029
postcode              1029
house_is                 2
property_subtype        25
price                 5835
sale                    11
rooms_number            49
area                  1746
kitchen_has              2
furnished                2
open_fire                2
terrace                  2
terrace_area           185
garden                 145
garden_area            931
land_surface          2853
land_plot_surface     4565
facades_number          13
swimming_pool_has        5
building_state          14
dtype: int64

In [166]:
#converting to boolean makes me loose some data ?
#df['terrace'] = df['terrace'].astype('bool')
#df.dtypes

In [167]:
counts = df['terrace'].unique()
counts

array(['True', 'False', nan], dtype=object)

In [168]:
garden = df['garden'].unique()
garden

array(['True', 'False', '16.0', '36.0', nan, '3749.0', '15.0', '45.0',
       '31.0', '40.0', '25.0', '20.0', '120.0', '30.0', '60.0', '19.0',
       '7.0', '127.0', '28.0', '50.0', '23.0', '26.0', '6.0', '10.0',
       '70.0', '4.0', '100.0', '64.0', '12.0', '17.0', '24.0', '22.0',
       '94.0', '55.0', '21.0', '145.0', '47.0', '8.0', '5.0', '18.0',
       '80.0', '170.0', '13.0', '38.0', '9.0', '150.0', '27.0', '66.0',
       '125.0', '48.0', '85.0', '75.0', '37.0', '11.0', '35.0', '32.0',
       '41.0', '114.0', '1.0', '14.0', '44.0', '74.0', '53.0', '161.0',
       '300.0', '43.0', '29.0', '90.0', '142.0', '105.0', '61.0', '62.0',
       '96.0', '108.0', '157.0', '2.0', '54.0', '34.0', '180.0', '3.0',
       '450.0', '112.0', '280.0', '33.0', '200.0', '140.0', '65.0',
       '196.0', '56.0', '42.0', '51.0', '111.0', '86.0', '77.0', '110.0',
       '63.0', '39.0', '57.0', '88.0', '93.0', '141.0', '72.0', '68.0',
       '400.0', '159.0', '76.0', '95.0', '46.0', '122.0', '52.0', '89.0',
       '271.0', '160.0', '78.0', '59.0', '97.0', '124.0', '49.0', '188.0',
       '81.0', '220.0', '350.0', '261.0', '123.0', '71.0', '250.0',
       '246.0', '213.0', '115.0', '230.0', '91.0', '58.0', '138.0',
       '708.0', '165.0', '144.0', '500.0', '83.0', '73.0', '67.0',
       '101.0', '82.0', '130.0', '69.0', '175.0', '312.0'], dtype=object)

In [169]:
df.loc[(df['garden']!='True')&(df['garden']!='False')]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
64873,1,https://www.immoweb.be/en/classified/house/for...,1150.0,1150.0,True,HOUSE,990000.0,residential_sale,6,485.0,...,False,NaN,TRUE,16.0,NaN,NaN,251.0,2.0,FALSE,AS_NEW
64874,1,https://www.immoweb.be/en/classified/house/for...,4180.0,4180.0,True,HOUSE,195000.0,residential_sale,3,242.0,...,False,NaN,TRUE,36.0,NaN,100.0,475.0,3.0,FALSE,NaN
64875,1,https://www.immoweb.be/en/classified/new-real-...,7500.0,7500.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64876,1,https://www.immoweb.be/en/classified/house/for...,4480.0,4480.0,True,HOUSE,245000.0,residential_sale,5,142.0,...,False,NaN,TRUE,3749.0,NaN,250.0,615.0,4.0,FALSE,NaN
64877,1,https://www.immoweb.be/en/classified/mixed-use...,4180.0,4180.0,True,MIXED_USE_BUILDING,295000.0,residential_sale,3,242.0,...,False,NaN,TRUE,36.0,NaN,1000.0,1403.0,3.0,FALSE,NaN
64878,1,https://www.immoweb.be/en/classified/house/for...,4570.0,4570.0,True,HOUSE,549000.0,residential_sale,5,365.0,...,False,NaN,TRUE,15.0,NaN,1850.0,25157.0,4.0,FALSE,NaN
64879,1,https://www.immoweb.be/en/classified/mansion/f...,1400.0,1400.0,True,MANSION,600000.0,residential_sale,4,330.0,...,NaN,True,TRUE,45.0,NaN,185.0,390.0,3.0,TRUE,NaN
64880,1,https://www.immoweb.be/en/classified/exception...,8000.0,8000.0,True,EXCEPTIONAL_PROPERTY,625000.0,residential_sale,2,184.0,...,False,NaN,NaN,NaN,NaN,50.0,134.0,2.0,FALSE,AS_NEW
64881,1,https://www.immoweb.be/en/classified/villa/for...,8730.0,8730.0,True,VILLA,675000.0,residential_sale,4,349.0,...,False,NaN,NaN,NaN,NaN,977.0,1526.0,4.0,FALSE,AS_NEW
64882,1,https://www.immoweb.be/en/classified/villa/for...,1410.0,1410.0,True,VILLA,750000.0,residential_sale,5,270.0,...,False,True,TRUE,31.0,NaN,450.0,1059.0,4.0,TRUE,NaN
64883,1,https://www.immoweb.be/en/classified/mansion/f...,1050.0,1050.0,True,MANSION,3800000.0,residential_sale,5,752.0,...,False,NaN,TRUE,40.0,NaN,NaN,340.0,2.0,NaN,NaN
64884,1,https://www.immoweb.be/en/classified/house/for...,4530.0,4530.0,True,HOUSE,279000.0,residential_sale,4,160.0,...,False,NaN,TRUE,25.0,NaN,977.0,1037.0,4.0,FALSE,AS_NEW
64885,1,https://www.immoweb.be/en/classified/new-real-...,1760.0,1760.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64886,1,https://www.immoweb.be/en/classified/new-real-...,1180.0,1180.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64887,1,https://www.immoweb.be/en/classified/apartment...,4020.0,4020.0,True,APARTMENT_BLOCK,250000.0,residential_sale,5,303.0,...,False,NaN,NaN,NaN,NaN,NaN,760.0,2.0,FALSE,NaN
64888,1,https://www.immoweb.be/en/classified/new-real-...,3840.0,3840.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64889,1,https://www.immoweb.be/en/classified/new-real-...,1360.0,1360.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64890,1,https://www.immoweb.be/en/classified/villa/for...,1950.0,1950.0,True,VILLA,865000.0,residential_sale,3,230.0,...,False,NaN,TRUE,20.0,NaN,1000.0,1179.0,4.0,FALSE,NaN
64891,1,https://www.immoweb.be/en/classified/house/for...,1950.0,1950.0,True,HOUSE,770000.0,residential_sale,4,250.0,...,False,NaN,TRUE,16.0,NaN,NaN,195.0,3.0,FALSE,AS_NEW
64892,1,https://www.immoweb.be/en/classified/new-real-...,6860.0,6860.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64893,1,https://www.immoweb.be/en/classified/new-real-...,3360.0,3360.0,True,HOUSE_GROUP,NaN,group_sale,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64894,1,https://www.immoweb.be/en/classified/house/for...,1970.0,1970.0,True,HOUSE,580000.0,residential_sale,2,140.0,...,False,NaN,TRUE,120.0,NaN,400.0,546.0,4.0,FALSE,NaN
64895,1,https://www.immoweb.be/en/classified/house/for...,1180.0,1180.0,True,HOUSE,2950000.0,residential_sale,5,600.0,...,False,NaN,TRUE,30.0,NaN,20000.0,20000.0,4.0,NaN,AS_NEW
64896,1,https://www.immoweb.be/en/classified/mansion/f...,1050.0,1050.0,True,MANSION,3900000.0,residential_sale,5,666.0,...,False,True,TRUE,60.0,NaN,NaN,335.0,2.0,TRUE,AS_NEW
64897,1,https://www.immoweb.be/en/classified/house/for...,3001.0,3001.0,True,HOUSE,890000.0,residential_sale,6,330.0,...,NaN,NaN,TRUE,19.0,NaN,40.0,220.0,2.0,NaN,NaN
64898,1,https://www.immoweb.be/en/classified/house/for...,1150.0,1150.0,True,HOUSE,1050000.0,residential_sale,5,270.0,...,False,NaN,TRUE,15.0,NaN,800.0,971.0,4.0,FALSE,AS_NEW
64899,1,https://www.immoweb.be/en/classified/house/for...,4570.0,4570.0,True,HOUSE,199000.0,residential_sale,2,110.0,...,False,NaN,TRUE,7.0,NaN,550.0,713.0,4.0,FALSE,NaN
64900,1,https://www.immoweb.be/en/classified/house/for...,1200.0,1200.0,True,HOUSE,545000.0,residential_sale,4,235.0,...,True,NaN,NaN,NaN,NaN,NaN,63.0,3.0,FALSE,NaN
64901,1,https://www.immoweb.be/en/classified/exception...,6740.0,6740.0,True,EXCEPTIONAL_PROPERTY,598000.0,residential_sale,3,600.0,...,False,NaN,TRUE,127.0,NaN,2358.0,2358.0,4.0,FALSE,AS_NEW
64902,1,https://www.immoweb.be/en/classified/house/for...,2660.0,2660.0,True,HOUSE,329000.0,residential_sale,4,181.0,...,False,NaN,TRUE,60.0,NaN,284.0,364.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75847,1,https://www.immoweb.be/en/classified/apartment...,9820.0,9820.0,False,APARTMENT,265000.0,residential_sale,2,87.0,...,NaN,NaN,TRUE,7.0,NaN,NaN,NaN,NaN,FALSE,NaN
75848,1,https://www.immoweb.be/en/classified/apartment...,1070.0,1070.0,False,APARTMENT,350000.0,residential_sale,3,120.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
75849,1,https://www.immoweb.be/en/classified/apartment...,9070.0,9070.0,False,APARTMENT,435000.0,residential_sale,3,260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75850,1,https://www.immoweb.be/en/classified/apartment...,1000.0,1000.0,False,APARTMENT,597500.0,residential_sale,2,110.0,...,True,NaN,TRUE,8.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75851,1,https://www.immoweb.be/en/classified/apartment...,8370.0,8370.0,False,APARTMENT,95000.0,residential_sale,2,50.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75852,1,https://www.immoweb.be/en/classified/apartment...,8970.0,8970.0,False,APARTMENT,180000.0,residential_sale,2,90.0,...,False,NaN,TRUE,33.0,NaN,NaN,NaN,NaN,FALSE,NaN
75853,1,https://www.immoweb.be/en/classified/apartment...,4540.0,4540.0,False,APARTMENT,159000.0,residential_sale,2,80.0,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75854,1,https://www.immoweb.be/en/classified/penthouse...,1170.0,1170.0,False,PENTHOUSE,425000.0,residential_sale,2,98.0,...,False,NaN,TRUE,16.0,NaN,NaN,NaN,2.0,FALSE,NaN
75855,1,https://www.immoweb.be/en/classified/penthouse...,1180.0,1180.0,False,PENTHOUSE,585500.0,residential_sale,4,153.0,...,NaN,NaN,TRUE,54.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75856,1,https://www.immoweb.be/en/classified/apartment...,2000.0,2000.0,False,APARTMENT,690000.0,residential_sale,1,166.0,...,NaN,NaN,TRUE,15.0,NaN,70.0,NaN,2.0,NaN,AS_NEW
75857,1,https://www.immoweb.be/en/classified/apartment...,1140.0,1140.0,False,APARTMENT,265000.0,residential_sale,1,60.0,...,True,NaN,TRUE,6.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
75858,1,https://www.immoweb.be/en/classified/apartment...,1140.0,1140.0,False,APARTMENT,370000.0,residential_sale,2,85.0,...,True,NaN,TRUE,17.0,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75859,1,https://www.immoweb.be/en/classified/apartment...,1180.0,1180.0,False,APARTMENT,495000.0,residential_sale,3,109.0,...,NaN,NaN,TRUE,12.0,NaN,NaN,NaN,NaN,FALSE,NaN
75860,1,https://www.immoweb.be/en/classified/ground-fl...,1160.0,1160.0,False,GROUND_FLOOR,936000.0,residential_sale,3,146.0,...,False,NaN,TRUE,96.0,NaN,278.0,NaN,NaN,FALSE,AS_NEW
75861,1,https://www.immoweb.be/en/classified/apartment...,8300.0,8300.0,False,APARTMENT,1295000.0,residential_sale,2,90.0,...,NaN,NaN,TRUE,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75862,1,https://www.immoweb.be/en/classified/apartment...,7000.0,7000.0,False,APARTMENT,149000.0,residential_sale,1,65.0,...,False,NaN,TRUE,18.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
75863,1,https://www.immoweb.be/en/classified/apartment...,9800.0,9800.0,False,APARTMENT,247500.0,residential_sale,3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75864,1,https://www.immoweb.be/en/classified/duplex/fo...,1600.0,1600.0,False,DUPLEX,335000.0,residential_sale,4,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75865,1,https://www.immoweb.be/en/classified/apartment...,6840.0,6840.0,False,APARTMENT,180000.0,residential_sale,2,80.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,2.0,FALSE,AS_NEW
75866,1,https://www.immoweb.be/en/classified/apartment...,9100.0,9100.0,False,APARTMENT,195000.0,residential_sale,1,60.0,...,NaN,NaN,TRUE,10.0,NaN,NaN,NaN,4.0,NaN,NaN
75867,1,https://www.immoweb.be/en/classified/apartment...,9100.0,9100.0,False,APARTMENT,300000.0,residential_sale,2,98.0,...,NaN,NaN,TRUE,30.0,NaN,NaN,NaN,4.0,NaN,NaN
75868,1,https://www.immoweb.be/en/classified/apartment...,1000.0,1000.0,False,APARTMENT,650000.0,residential_sale,2,102.0,...,NaN,True,NaN,NaN,NaN,NaN,NaN,2.0,NaN,AS_NEW
75869,1,https://www.immoweb.be/en/classified/flat-stud...,1070.0,1070.0,False,FLAT_STUDIO,140000.0,residential_sale,0,49.0,...,False,NaN,TRUE,5.0,NaN,NaN,NaN,NaN,FALSE,NaN
75870,1,https://www.immoweb.be/en/classified/duplex/fo...,9280.0,9280.0,False,DUPLEX,239000.0,residential_sale,3,118.0,...,NaN,NaN,TRUE,40.0,NaN,NaN,NaN,2.0,NaN,NaN
75871,1,https://www.immoweb.be/en/classified/penthouse...,8370.0,8370.0,False,PENTHOUSE,339000.0,residential_sale,2,115.0,...,False,NaN,TRUE,NaN,NaN,NaN,NaN,NaN,FALSE,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,8310.0,8310.0,False,PENTHOUSE,649000.0,residential_sale,2,98.0,...,False,NaN,TRUE,28.0,NaN,NaN,NaN,NaN,FALSE,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,4020.0,4020.0,False,APARTMENT,25000.0,annuity_monthly_amount,3,142.0,...,NaN,NaN,TRUE,4.0,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,4500.0,4500.0,False,APARTMENT,99000.0,residential_sale,3,210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,4800.0,4800.0,False,APARTMENT,109000.0,residential_sale,1,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90080,3,NaN,8800.0,8800.0,True,NaN,60000â‚¬,NaN,NaN,1 mÂ²,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
def converter(c): 
    if (c['garden']=='True')|(c['garden']=='False'): 
        return c['garden'] 
    elif (pd.isnull(c['garden'])==False): 
        return 'True'
    else: 
        return np.nan

df['hyp_garden'] = df.apply(converter, axis = 1)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,hyp_garden
0,6,8901695,4180.0,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,True,36,True,1000,1403,1403,0,False,GOOD,True
1,6,8747010,8730.0,8730.0,True,VILLA,675000,NaN,4,349,...,False,0,True,977,1526,1526,0,False,AS_NEW,True
2,6,8775843,4020.0,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,0,False,0,760,760,0,False,TO_RENOVATE,False
3,6,8910441,1200.0,1200.0,True,HOUSE,545000,NaN,4,235,...,False,0,False,0,63,63,0,False,JUST_RENOVATED,False
4,6,8758672,1190.0,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,0,True,60,193,193,0,False,AS_NEW,True

In [171]:
def splitter(s): 
    if (s['garden']!='True')&(s['garden']!='False'): 
        return s['garden']
    elif (pd.isnull(s['garden'])==False): 
        return s['garden_area']
    else: 
        return np.nan
    
df['hyp_garden_area'] = df.apply(splitter, axis = 1)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,hyp_garden,hyp_garden_area
0,6,8901695,4180.0,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,36,True,1000,1403,1403,0,False,GOOD,True,1000
1,6,8747010,8730.0,8730.0,True,VILLA,675000,NaN,4,349,...,0,True,977,1526,1526,0,False,AS_NEW,True,977
2,6,8775843,4020.0,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,0,False,0,760,760,0,False,TO_RENOVATE,False,0
3,6,8910441,1200.0,1200.0,True,HOUSE,545000,NaN,4,235,...,0,False,0,63,63,0,False,JUST_RENOVATED,False,0
4,6,8758672,1190.0,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,0,True,60,193,193,0,False,AS_NEW,True,60

In [172]:
garden = df['hyp_garden'].unique()
garden

array(['True', 'False', nan], dtype=object)

In [173]:
df.dtypes

source                 int64
hyperlink             object
locality             float64
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number           Int64
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number        object
swimming_pool_has     object
building_state        object
hyp_garden            object
hyp_garden_area       object
dtype: object

In [174]:
garden_area = df['hyp_garden_area'].unique()
garden_area

array(['1000', '977', '0', ..., '223', '1750', '116'], dtype=object)

In [175]:
df['hyp_garden_area'] = pd.to_numeric(df['hyp_garden_area'], errors='coerce').astype('Int64')

In [176]:
df.dtypes

source                 int64
hyperlink             object
locality             float64
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number           Int64
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number        object
swimming_pool_has     object
building_state        object
hyp_garden            object
hyp_garden_area        Int64
dtype: object

In [177]:
facades_number = df['facades_number'].unique()
facades_number

array(['0', '3', '2', '4', 'None', '1', '6', nan, '10', '2.0', '3.0',
       '4.0', '1.0', '10.0'], dtype=object)

In [178]:
df.loc[df['facades_number']=='None', 'facades_number'] = np.nan

In [179]:
facades_number = df['facades_number'].unique()
facades_number

array(['0', '3', '2', '4', nan, '1', '6', '10', '2.0', '3.0', '4.0',
       '1.0', '10.0'], dtype=object)

In [180]:
df['facades_number'] = pd.to_numeric(df['facades_number'], errors='coerce').astype('Int64')

In [181]:
facades_number = df['facades_number'].unique()
facades_number

<IntegerArray>
[0, 3, 2, 4, NaN, 1, 6, 10]
Length: 8, dtype: Int64

In [182]:
swimming_pool_has = df['swimming_pool_has'].unique()
swimming_pool_has

array(['False', 'True', 'FALSE', nan, 'TRUE', '0'], dtype=object)

In [183]:
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('TRUE','True')
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('FALSE','False')
df['swimming_pool_has'] = df['swimming_pool_has'].str.replace('0','False')

In [184]:
swimming_pool_has = df['swimming_pool_has'].unique()
swimming_pool_has

array(['False', 'True', nan], dtype=object)

In [185]:
df['swimming_pool_has'] = df['swimming_pool_has'].astype('bool')
df.dtypes

source                 int64
hyperlink             object
locality             float64
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number           Int64
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number         Int64
swimming_pool_has       bool
building_state        object
hyp_garden            object
hyp_garden_area        Int64
dtype: object

In [186]:
building_state = df['building_state'].unique()
building_state

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', 'JUST_RENOVATED', 'TO_BE_DONE_UP',
       'TO_RESTORE', nan, 'Not specified', '0', 'Good', 'To renovate',
       'To be done up', 'As new', 'Just renovated', 'To restore'],
      dtype=object)

In [187]:
df['building_state'] = df['building_state'].str.replace(' ','_')
df['building_state'] = df['building_state'].str.upper()
df['building_state'] = df['building_state'].str.replace('TO_RESTORE','TO_RENOVATE')
df['building_state'] = df['building_state'].str.replace('TO_BE_DONE_UP','TO_RENOVATE')
df['building_state'] = df['building_state'].str.replace('JUST_RENOVATED','AS_NEW')

In [188]:
building_state = df['building_state'].unique()
building_state

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', nan, 'NOT_SPECIFIED', '0'],
      dtype=object)

In [189]:
df.loc[df['building_state'] == 'NOT_SPECIFIED','building_state'] = np.nan
df.loc[df['building_state'] == '0','building_state'] = np.nan

In [190]:
building_state = df['building_state'].unique()
building_state

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', nan], dtype=object)

In [191]:
counts = df.nunique()
counts

source                   5
hyperlink            46264
locality              1029
postcode              1029
house_is                 2
property_subtype        25
price                 5835
sale                    11
rooms_number            49
area                  1746
kitchen_has              2
furnished                2
open_fire                2
terrace                  2
terrace_area           185
garden                 145
garden_area            931
land_surface          2853
land_plot_surface     4565
facades_number           7
swimming_pool_has        1
building_state           3
hyp_garden               2
hyp_garden_area        935
dtype: int64

array([ True, False])